<%= form_for(@tipoactividad) do |f| %>
  <% if @tipoactividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipoactividad.errors.count, "error") %> prohibited this tipoactividad from being saved:</h2>

      <ul>
      <% @tipoactividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :concepto %><br>
    <%= f.text_field :concepto %>
  </div>
  <div class="field">
    <%= f.label :grupoActividadesId %><br>
    <%= f.number_field :grupoActividadesId %>
  </div>
  <div class="field">
    <%= f.label :subGrupoActividadId %><br>
    <%= f.number_field :subGrupoActividadId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
