<p id="notice"><%= notice %></p>

<h1>Listing Documentoinformes</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Informeid</th>
      <th>Archivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documentoinformes.each do |documentoinforme| %>
      <tr>
        <td><%= documentoinforme.id %></td>
        <td><%= documentoinforme.informeId %></td>
        <td><%= documentoinforme.archivo %></td>
        <td><%= link_to 'Show', documentoinforme %></td>
        <td><%= link_to 'Edit', edit_documentoinforme_path(documentoinforme) %></td>
        <td><%= link_to 'Destroy', documentoinforme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Documentoinforme', new_documentoinforme_path %>
