<%= form_for(@tiporesultado) do |f| %>
  <% if @tiporesultado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tiporesultado.errors.count, "error") %> prohibited this tiporesultado from being saved:</h2>

      <ul>
      <% @tiporesultado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :tipoActividadId %><br>
    <%= f.number_field :tipoActividadId %>
  </div>
  <div class="field">
    <%= f.label :idPadre %><br>
    <%= f.number_field :idPadre %>
  </div>
  <div class="field">
    <%= f.label :concepto %><br>
    <%= f.text_area :concepto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
