<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tiporesultado.id %>
</p>

<p>
  <strong>Tipoactividadid:</strong>
  <%= @tiporesultado.tipoActividadId %>
</p>

<p>
  <strong>Idpadre:</strong>
  <%= @tiporesultado.idPadre %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @tiporesultado.concepto %>
</p>

<%= link_to 'Edit', edit_tiporesultado_path(@tiporesultado) %> |
<%= link_to 'Back', tiporesultados_path %>
