<%= form_for(@planformacion) do |f| %>
  <% if @planformacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planformacion.errors.count, "error") %> prohibited this planformacion from being saved:</h2>

      <ul>
      <% @planformacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :fechaInicio %><br>
    <%= f.date_select :fechaInicio %>
  </div>
  <div class="field">
    <%= f.label :fechaFin %><br>
    <%= f.date_select :fechaFin %>
  </div>
  <div class="field">
    <%= f.label :activo %><br>
    <%= f.check_box :activo %>
  </div>
  <div class="field">
    <%= f.label :instructorId %><br>
    <%= f.number_field :instructorId %>
  </div>
  <div class="field">
    <%= f.label :tutorId %><br>
    <%= f.number_field :tutorId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
