<%= form_for(@adecuacionactividad) do |f| %>
  <% if @adecuacionactividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adecuacionactividad.errors.count, "error") %> prohibited this adecuacionactividad from being saved:</h2>

      <ul>
      <% @adecuacionactividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :adecuacionId %><br>
    <%= f.number_field :adecuacionId %>
  </div>
  <div class="field">
    <%= f.label :actividadId %><br>
    <%= f.number_field :actividadId %>
  </div>
  <div class="field">
    <%= f.label :anulada %><br>
    <%= f.check_box :anulada %>
  </div>
  <div class="field">
    <%= f.label :semestre %><br>
    <%= f.number_field :semestre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
