<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @informeactividad.id %>
</p>

<p>
  <strong>Informeid:</strong>
  <%= @informeactividad.informeId %>
</p>

<p>
  <strong>Actividadid:</strong>
  <%= @informeactividad.actividadId %>
</p>

<%= link_to 'Edit', edit_informeactividad_path(@informeactividad) %> |
<%= link_to 'Back', informeactividads_path %>
