<p id="notice"><%= notice %></p>

<h1>Listing Tipoestatuses</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Informeid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipoestatuses.each do |tipoestatus| %>
      <tr>
        <td><%= tipoestatus.id %></td>
        <td><%= tipoestatus.informeId %></td>
        <td><%= link_to 'Show', tipoestatus %></td>
        <td><%= link_to 'Edit', edit_tipoestatus_path(tipoestatus) %></td>
        <td><%= link_to 'Destroy', tipoestatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipoestatus', new_tipoestatus_path %>
