<%= form_for(@documentoinforme) do |f| %>
  <% if @documentoinforme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documentoinforme.errors.count, "error") %> prohibited this documentoinforme from being saved:</h2>

      <ul>
      <% @documentoinforme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :informeId %><br>
    <%= f.number_field :informeId %>
  </div>
  <div class="field">
    <%= f.label :archivo %><br>
    <%= f.text_field :archivo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
