<p id="notice"><%= notice %></p>

<h1>Listing Tipoactividads</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Concepto</th>
      <th>Grupoactividadesid</th>
      <th>Subgrupoactividadid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipoactividads.each do |tipoactividad| %>
      <tr>
        <td><%= tipoactividad.id %></td>
        <td><%= tipoactividad.concepto %></td>
        <td><%= tipoactividad.grupoActividadesId %></td>
        <td><%= tipoactividad.subGrupoActividadId %></td>
        <td><%= link_to 'Show', tipoactividad %></td>
        <td><%= link_to 'Edit', edit_tipoactividad_path(tipoactividad) %></td>
        <td><%= link_to 'Destroy', tipoactividad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipoactividad', new_tipoactividad_path %>
