<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @entidad.id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @entidad.nombre %>
</p>

<p>
  <strong>Escuelaid:</strong>
  <%= @entidad.escuelaId %>
</p>

<%= link_to 'Edit', edit_entidad_path(@entidad) %> |
<%= link_to 'Back', entidads_path %>
