<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @escuela.id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @escuela.nombre %>
</p>

<%= link_to 'Edit', edit_escuela_path(@escuela) %> |
<%= link_to 'Back', escuelas_path %>
