<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @observacionactividadinforme.id %>
</p>

<p>
  <strong>Informeactividadid:</strong>
  <%= @observacionactividadinforme.informeActividadId %>
</p>

<p>
  <strong>Revisionid:</strong>
  <%= @observacionactividadinforme.revisionId %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @observacionactividadinforme.observacion %>
</p>

<%= link_to 'Edit', edit_observacionactividadinforme_path(@observacionactividadinforme) %> |
<%= link_to 'Back', observacionactividadinformes_path %>
