<div class = 'row'>
	<div class="col-xs-12 col-md-12">

		<ul class="nav nav-tabs">
			<li><a href="../iniciotutor/index">Inicio</a></li>
			<li><a href="../iniciotutor/planformacions">Plan de Formaci贸n</a></li>
			<li><a href="../iniciotutor/notificaciones" class = 'active'>Notificaciones</a></li>
			<li><a href="../iniciotutor/logout">Cerrar Sesi贸n</a></li>
		</ul>

	</div>

</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="text-right">
			<div id = "fechamuestra">
				<h3> <%= Time.now.strftime("%d") %>
		          <% if Time.now.strftime("%m").to_i == 1 %>
								de enero del
							<% elsif Time.now.strftime("%m").to_i == 2 %>
								de febrero del
							<% elsif Time.now.strftime("%m").to_i == 3 %>
								de marzo del
							<% elsif Time.now.strftime("%m").to_i == 4 %>
								de abril del
							<% elsif Time.now.strftime("%m").to_i == 5 %>
								de mayo del
							<% elsif Time.now.strftime("%m").to_i == 6 %>
								de junio del
							<% elsif Time.now.strftime("%m").to_i == 7 %>
								de julio del
							<% elsif Time.now.strftime("%m").to_i == 8 %>
								de agosto del
							<% elsif Time.now.strftime("%m").to_i == 9 %>
								de septiembre del
							<% elsif Time.now.strftime("%m").to_i == 10 %>
								de octubre del
							<% elsif Time.now.strftime("%m").to_i == 11 %>
								de noviembre del
							<% elsif Time.now.strftime("%m").to_i == 12 %>
								de diciembre del
							<% end %>
							<%= Time.now.strftime("%Y") %> 
		        </h3>
			</div>
			<%if session[:nombre_usuario]%>
				<div>
					<h4><b><%=session[:nombre_usuario]%></b></h4>
				</div>
			<%end%>
			<p>Tutor</p>
		</div>
	</div>
</div>
<div class="row">
	<div class = 'col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify'>
		<h1 class = 'text-left'>Notificaciones:</h1>
	</div>
</div>

<% if @notificaciones1 %>
  <div class = 'row'>
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
	    <div class="table-responsive">
	      <table class="table table-hover table-bordered text-center">
	        <thead>
	          <tr>
	            <th class="text-center">Notificaciones</th>
	            <th class="text-center" style='width:10%;'>Acci贸n</th>
	          </tr>
	        </thead>
	        <tbody>
	        	<% if !@notificaciones1.blank? %>
							<% @notificaciones1.reverse_each.each_with_index do |notificaciones1| %>
								<tr id='<%= notificaciones1.id %>'>
									<td class="text-left"><%= notificaciones1.mensaje %></td>
									<td><%= link_to '', {:controller => 'iniciotutor', :action => 'destroyNotifications', :id => notificaciones1.id, method: :delete}, :remote => true , :class => "eliminarN glyphicon glyphicon-trash" %></td>
								</tr>
		          <% end %>
		        <% else %>
	          		<tr>
			            <td class="text-center">No tienes nuevas notificaciones, vuelve mas tarde</td>
			        </tr>
	          <% end %>
	        </tbody>
	      </table>
	    </div>
    </div>
  </div>
<% else %>
      <h1>Usted no posee ninguna Notificaci贸n</h1>
<% end %>