<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../iniciotutor/index">Inicio</a></li>
        <li><a href="../iniciotutor/planformacions" class = 'active'>Plan de Formación</a></li>
        <li><a href="../iniciotutor/notificaciones">Notificaciones</a></li>
        <li><a href="../iniciotutor/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class= "text-left">
      <%if @nombre%>
        <div>
          <p style="display:inline"> Plan Formación </p>
        </div>
      <%end%>
    </div>
    <div class="text-right">
      <div id = "fechamuestra">
        <h3> <%= Time.now.strftime("%d") %>
          <% if Time.now.strftime("%m").to_i == 1 %>
            de Enero del
          <% elsif Time.now.strftime("%m").to_i == 2 %>
            de Febrero del
          <% elsif Time.now.strftime("%m").to_i == 3 %>
            de Marzo del
          <% elsif Time.now.strftime("%m").to_i == 4 %>
            de Abril del
          <% elsif Time.now.strftime("%m").to_i == 5 %>
            de Mayo del
          <% elsif Time.now.strftime("%m").to_i == 6 %>
            de Junio del
          <% elsif Time.now.strftime("%m").to_i == 7 %>
            de Julio del
          <% elsif Time.now.strftime("%m").to_i == 8 %>
            de Agosto del
          <% elsif Time.now.strftime("%m").to_i == 9 %>
            de Septiembre del
          <% elsif Time.now.strftime("%m").to_i == 10 %>
            de Octubre del
          <% elsif Time.now.strftime("%m").to_i == 11 %>
            de Noviembre del
          <% elsif Time.now.strftime("%m").to_i == 12 %>
            de Diciembre del
          <% end %>
          <%= Time.now.strftime("%Y") %> 
        </h3>
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>

<% if !@planformacions.blank? %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
      <h1>Lista de Planes Formación</h1>
      <p class="text-justify">Haga click en "Ver detalles" sobre el Plan de Formación correspondiente en caso de que se desee visualizar los detalles del mismo</p>
    </div>
  </div>
  
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div class = 'row'>
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
    <div class="table-responsive">
      <table class="table table-hover table-bordered text-center">
        <thead>
          <tr>
            <th class="text-center">Nombre instructor</th>
            <th class="text-center">Fecha Inicio</th>
            <th class="text-center">Fecha Fin</th>
            <th class="text-center">Fecha de Última <br> Modificación</th>
            <th class="text-center">Estatus</th>
            <th class="text-center">Modificar</th>
            <th class="text-center">Detalles</th>
          </tr>
        </thead>

        <tbody>
          <% @planformacions.each_with_index do |planformacion, i| %> 
            <tr>
              <td><%= @nombreinstructor[i] %></td>
              <td><%= planformacion.fecha_inicio %></td>
              <td><%= planformacion.fecha_fin %></td>
              <td>
              <% if planformacion.fecha_modificacion.blank? %>
                - 
              <% else %>
                <%= planformacion.fecha_modificacion %>
              <% end %>
              </td>
              <td><%= @status[i] %></td>
              <td>
                <% if @cpenviado[i] == 0%>

                  <%= form_tag({controller: 'iniciotutor', action: 'detalles_adecuacion2'}) do%>
                    <input type="hidden" name="plan_id" value='<%= planformacion.id %>'>
                    <input type="hidden" name="editar" value='si'>
                    <button type="submit" class="btn btn-forminst-blue">Modificar</button>
                  <%end%>

                <% else %>

                  <%= form_tag({controller: 'iniciotutor', action: 'detalles_adecuacion2'}) do%>
                    <input type="hidden" name="plan_id" value='<%= planformacion.id %>'>
                    <input type="hidden" name="editar" value='si'>
                    <button type="submit" class="btn btn-forminst-blue" disabled>Modificar</button>
                  <%end%>

                <% end %>
              </td>  
              <td>
                <%= form_tag({controller: 'iniciotutor', action: 'ver_detalles_adecuacion'}) do%>
                  <input type="hidden" name="plan_id" value='<%= planformacion.id %>'>
                  <input type="hidden" name="editar" value='no'>
                  <button type="submit" class="btn btn-forminst-blue">Ver Detalles</button>
                <%end%>
              </td>
              <!--
                <td><%#= link_to 'Show', planformacion %></td>
                <td><%#= link_to 'Edit', edit_planformacion_path(planformacion) %></td>
                <td><%#= link_to 'Destroy', planformacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
<% else %>
  <h2>No hay Plan Formación asociado</h2>
  <h5>Usted no posee ningun Plan de Formación asociado, espere a que se le sea asignado alguno.</h5>
  <br>
<% end %>
   
<br>

<%#= link_to 'New Planformacion', new_planformacion_path %>
