<%= form_for(@observacionactividadinforme) do |f| %>
  <% if @observacionactividadinforme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observacionactividadinforme.errors.count, "error") %> prohibited this observacionactividadinforme from being saved:</h2>

      <ul>
      <% @observacionactividadinforme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :informeActividadId %><br>
    <%= f.number_field :informeActividadId %>
  </div>
  <div class="field">
    <%= f.label :revisionId %><br>
    <%= f.number_field :revisionId %>
  </div>
  <div class="field">
    <%= f.label :observacion %><br>
    <%= f.text_area :observacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
