<p id="notice"><%= notice %></p>

<h1>Listing Observacionactividadinformes</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Informeactividadid</th>
      <th>Revisionid</th>
      <th>Observacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observacionactividadinformes.each do |observacionactividadinforme| %>
      <tr>
        <td><%= observacionactividadinforme.id %></td>
        <td><%= observacionactividadinforme.informeActividadId %></td>
        <td><%= observacionactividadinforme.revisionId %></td>
        <td><%= observacionactividadinforme.observacion %></td>
        <td><%= link_to 'Show', observacionactividadinforme %></td>
        <td><%= link_to 'Edit', edit_observacionactividadinforme_path(observacionactividadinforme) %></td>
        <td><%= link_to 'Destroy', observacionactividadinforme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observacionactividadinforme', new_observacionactividadinforme_path %>
