<%= form_for(@informeactividad) do |f| %>
  <% if @informeactividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@informeactividad.errors.count, "error") %> prohibited this informeactividad from being saved:</h2>

      <ul>
      <% @informeactividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :informeId %><br>
    <%= f.number_field :informeId %>
  </div>
  <div class="field">
    <%= f.label :actividadId %><br>
    <%= f.number_field :actividadId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
