<%= form_for(@informe) do |f| %>
  <% if @informe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@informe.errors.count, "error") %> prohibited this informe from being saved:</h2>

      <ul>
      <% @informe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :PlanFormacionId %><br>
    <%= f.number_field :PlanFormacionId %>
  </div>
  <div class="field">
    <%= f.label :tutorId %><br>
    <%= f.number_field :tutorId %>
  </div>
  <div class="field">
    <%= f.label :opinionTutor %><br>
    <%= f.text_area :opinionTutor %>
  </div>
  <div class="field">
    <%= f.label :conclusiones %><br>
    <%= f.text_area :conclusiones %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
