<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @permiso.id %>
</p>

<p>
  <strong>Concepto:</strong>
  <%= @permiso.concepto %>
</p>

<%= link_to 'Edit', edit_permiso_path(@permiso) %> |
<%= link_to 'Back', permisos_path %>
