<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @estatusadecuacion.id %>
</p>

<p>
  <strong>Adecuacionid:</strong>
  <%= @estatusadecuacion.adecuacionId %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @estatusadecuacion.fecha %>
</p>

<p>
  <strong>Estatusid:</strong>
  <%= @estatusadecuacion.estatusId %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @estatusadecuacion.actual %>
</p>

<%= link_to 'Edit', edit_estatusadecuacion_path(@estatusadecuacion) %> |
<%= link_to 'Back', estatusadecuacions_path %>
