<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../secretarias/index">Inicio</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tutor <span class="caret"></span></a>
            <ul class="dropdown-menu nav" role="menu">
              <li></li>
              <li><%= link_to 'Agregar Tutor', :controller => 'secretarias', :action => 'agregarTutor'%></li>
              <li><%= link_to 'Modificar Tutor', :controller => 'secretarias', :action => 'modificarTutor' %></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-expanded="false">Instructor <span class="caret"></span></a>
            <ul class="dropdown-menu nav" role="menu">
              <li></li>
              <li><%= link_to 'Agregar Instructor', :controller => 'secretarias', :action => 'agregarInstructor'%></li>
             <li><a href="#" class = 'active'>Modificar Instructor</a></li>
            </ul>
        </li>
        <li><a href="../secretarias/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="text-right">
      <div id = "fechamuestra">
        <script languaje="JavaScript">
          fecha();
        </script> 
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
    <h5><strong>Agregar Instrucor</strong></h5>
  </div>
</div>

<form accept-charset="UTF-8" controller ="secretarias" action="guarda_instructor_modificado">


<div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>1. Datos del Instructor en Formación</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td style='width:50%;' class="text-center"><strong>Fecha del Concurso de Oposición</strong></td>
              <td style='width:50%;' class="text-center"><strong>Nombre</strong></td>
            </tr>

            <tr>
              <td class="text-center">
                <div id="sandbox-container">
                  <div class="input-group date">
                    <input type="text" class="form-control" name="FechaConcurso" value="<%=$cpfechaconcurso%>" required oninvalid="setCustomValidity('Ingrese una fecha del concurso de oposición válida')" onchange="try{setCustomValidity('')}catch(e){}"></i></span><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <input type="text" name="Nombre" class="form-control" value="<%=$cpnombre%>" required oninvalid="setCustomValidity('Ingrese un nombre válido')" onchange="try{setCustomValidity('')}catch(e){}">
              </td>
            </tr>


            <tr>
              <td style='width:50%;' class="text-center"><strong>Apellido</strong></td>
              <td style='width:50%;' class="text-center"><strong>Cédula de Identidad</strong></td>
            </tr>

            <tr>
              <td class="text-center">
                <input type="text" name="Apellido" class="form-control" value="<%=$cpapellido%>" required oninvalid="setCustomValidity('Ingrese un apellido válido')" onchange="try{setCustomValidity('')}catch(e){}">
              </td>
              <td class="text-center">
                <input type="number" name="CI" class="form-control" min="0" step="0" value="<%=$cpci%>" required oninvalid="setCustomValidity('Ingrese un número de cedula válido')" onchange="try{setCustomValidity('')}catch(e){}"> 
              </td>
            </tr>

            <tr>
              <td style='width:50%;' class="text-center"><strong>Fecha de Nacimiento</strong></td>
              <td style='width:50%;' class="text-center"><strong>Direccion</strong></td>
            </tr>

            <tr>
              <td class="text-center">
                <div id="sandbox-container">
                  <div class="input-group date">
                    <input type="text" class="form-control" name="FechaNac" value="<%=$cpfechanac%>" required oninvalid="setCustomValidity('Ingrese una fecha de nacimiento válida')" onchange="try{setCustomValidity('')}catch(e){}"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                  </div>
                </div>
              </td>
              </td>
              <td class="text-center">
                <input type="text" name="Dir" class="form-control" value="<%=$cpdir%>" required oninvalid="setCustomValidity('Ingrese una dirección válida')" onchange="try{setCustomValidity('')}catch(e){}">
              </td>
            </tr>

            <tr>
              <td style='width:50%;' class="text-center"><strong>Correo Electrónico</strong></td>
              <td style='width:50%;' class="text-center"><strong>Teléfono Celular</strong></td>
            </tr>

            <tr>
              <td class="text-center">
                <div class="input-group">
                <input type="text" name="correo" class="form-control" value="<%=$cpcorreo%>" required oninvalid="setCustomValidity('Ingrese un correo electrónico válido')" onchange="try{setCustomValidity('')}catch(e){}">
                <div class="input-group-addon">@ciens.ucv.ve</div>
                </div>
              </td>
              <td class="text-center">
                <input type="number" name="Tlf" class="form-control" min="1000000000" max="9999999999" step="0" value="<%=$cptlf%>" required oninvalid="setCustomValidity('Ingrese un número de teléfono válido')" onchange="try{setCustomValidity('')}catch(e){}">
              </td>
            </tr>
            </tr>
            <tr>
              <td class="text-center"><strong>Otro Teléfono</strong></td>
            </tr>
            <tr> 
              <td class="text-center">
                <input type="number" name="OTlf" class="form-control" min="1000000000" max="9999999999" step="0" value="<%=$cpotlf%>" required oninvalid="setCustomValidity('Ingrese un número de teléfono válido')" onchange="try{setCustomValidity('')}catch(e){}">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>2. Perfil del Instructor en Formación</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td style='width:50%;' class="text-center"><strong>Grado de Instrucción</strong></td>
              <td style='width:50%;' class="text-center"><strong>Área</strong></td>
            </tr>

            <tr>
              <td class="text-center">
                <input type="text" name="GradoI" class="form-control" value="<%=$cpgradoi%>" required oninvalid="setCustomValidity('Ingrese un grado de instrucción válido')" onchange="try{setCustomValidity('')}catch(e){}">
              </td>
              <td class="text-center">
                <input type="text" name="Area" class="form-control" value="<%=$cparea%>" required  oninvalid="setCustomValidity('Ingrese una área válida')" onchange="try{setCustomValidity('')}catch(e){}">
              </td>
            </tr>
            <tr>
              <td class="text-center"><strong>Subárea</strong></td>
            </tr>
            <tr> 
              <td class="text-center">
                <input type="text" name="Subarea" class="form-control" value="<%=$cpsubarea%>" required oninvalid="setCustomValidity('Ingrese una subárea válida')" onchange="try{setCustomValidity('')}catch(e){}">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>3. Datos de la dependencia</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td class="text-center"><strong>Unidad de Adscripción de Investigación</strong></td>
              <td style='width:50%;' class="text-center"><strong>Unidad de Adscripción de Docencia</strong></td>
            </tr>

            <tr>
              <td class="text-center">
                <input type="text" name="UAI" class="form-control" value="<%=$cpuai%>" required oninvalid="setCustomValidity('Ingrese una unidad de adscripción de investigación válida')" onchange="try{setCustomValidity('')}catch(e){}">
              </td>
              <td class="text-center">
                <input type="text" name="UAD" class="form-control" value="<%=$cpuad%>" required oninvalid="setCustomValidity('Ingrese una unidad de adscripción de docencia válida')" onchange="try{setCustomValidity('')}catch(e){}">
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-center">
              </td>
            </tr>
            <tr>
              <td class="text-left"><h5><strong>4. Agregar Tutor (opcional) </strong></h5></td>
            </tr>
            <tr>
              <td class="text-center"><strong>Agregar Tutor</strong></td>
            </tr>
            <tr> 
              <td class="text-center">
                <%= select_tag(:cptutores, options_for_select(@cptutores), {:class => "form-control", :name=> "JRTutores", :style => "width:100%;"}) %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<center><input name="commit" type="submit" value="Guardar" /></center>
</form>

<br><br> 



<script type="text/javascript">
    $('#sandbox-container .input-group.date').datepicker({
        format: "yyyy-mm-dd", 
        language: "es",
        keyboardNavigation: false,
        autoclose: true});
</script>