<p id="notice"><%= notice %></p>

<h1>Listing Prorrogas</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Planformacionid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prorrogas.each do |prorroga| %>
      <tr>
        <td><%= prorroga.id %></td>
        <td><%= prorroga.planFormacionId %></td>
        <td><%= link_to 'Show', prorroga %></td>
        <td><%= link_to 'Edit', edit_prorroga_path(prorroga) %></td>
        <td><%= link_to 'Destroy', prorroga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prorroga', new_prorroga_path %>
