<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tipoestatus.id %>
</p>

<p>
  <strong>Informeid:</strong>
  <%= @tipoestatus.informeId %>
</p>

<%= link_to 'Edit', edit_tipoestatus_path(@tipoestatus) %> |
<%= link_to 'Back', tipoestatuses_path %>
