<p id="notice"><%= notice %></p>

<h1>Listing Revisions</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Informeid</th>
      <th>Fecha</th>
      <th>Usuarioid</th>
      <th>Adecuacionid</th>
      <th>Estatusid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revisions.each do |revision| %>
      <tr>
        <td><%= revision.id %></td>
        <td><%= revision.informeId %></td>
        <td><%= revision.fecha %></td>
        <td><%= revision.usuarioId %></td>
        <td><%= revision.adecuacionId %></td>
        <td><%= revision.estatusId %></td>
        <td><%= link_to 'Show', revision %></td>
        <td><%= link_to 'Edit', edit_revision_path(revision) %></td>
        <td><%= link_to 'Destroy', revision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Revision', new_revision_path %>
