<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @actividadejecutada.id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @actividadejecutada.descripcion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @actividadejecutada.fecha %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @actividadejecutada.actual %>
</p>

<p>
  <strong>Informeactividadid:</strong>
  <%= @actividadejecutada.informeActividadId %>
</p>

<%= link_to 'Edit', edit_actividadejecutada_path(@actividadejecutada) %> |
<%= link_to 'Back', actividadejecutadas_path %>
