<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @revision.id %>
</p>

<p>
  <strong>Informeid:</strong>
  <%= @revision.informeId %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @revision.fecha %>
</p>

<p>
  <strong>Usuarioid:</strong>
  <%= @revision.usuarioId %>
</p>

<p>
  <strong>Adecuacionid:</strong>
  <%= @revision.adecuacionId %>
</p>

<p>
  <strong>Estatusid:</strong>
  <%= @revision.estatusId %>
</p>

<%= link_to 'Edit', edit_revision_path(@revision) %> |
<%= link_to 'Back', revisions_path %>
