<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @informe.id %>
</p>

<p>
  <strong>Planformacionid:</strong>
  <%= @informe.PlanFormacionId %>
</p>

<p>
  <strong>Tutorid:</strong>
  <%= @informe.tutorId %>
</p>

<p>
  <strong>Opiniontutor:</strong>
  <%= @informe.opinionTutor %>
</p>

<p>
  <strong>Conclusiones:</strong>
  <%= @informe.conclusiones %>
</p>

<%= link_to 'Edit', edit_informe_path(@informe) %> |
<%= link_to 'Back', informes_path %>
