<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../iniciotutor/index">Inicio</a></li>
        <% if @planformacion %>
          <li><%= link_to 'Plan de Formación', :controller => 'iniciotutor', :action => 'planformacions' %></li>
        <% else %>
              <li><%= link_to 'Crear Adecuación', :controller => 'iniciotutor', :action => 'crear_adecuacion' %></li>
        <% end %>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-expanded="false">Informes <span class="caret"></span></a>
            <ul class="dropdown-menu nav" role="menu">
              <li></li>
              <li><a href="#" data-toggle="modal" data-target="#selectInforme">
                Crear Informe
              </a></li>
              <li><a href="#" class = 'active'>Listar Informes</a></li>
            </ul>
        </li>
        <li><%= link_to 'Prórroga', :controller => 'iniciotutor', :action => 'prorroga' %></li>
        <li><a href="../iniciotutor/logout">Cerrar Sesión</a></li>
      </ul>
  
  </div>
</div>

<div class="modal fade" id="selectInforme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Informe</h3>
      </div>
      <div class="modal-body">
        <h5>Seleccione el informe a crear</h5>
      </div>
      <div class="modal-body">
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 1", {controller: "informes", action: "ver_crear_informe", :informe_id => 1 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 2", {controller: "informes", action: "ver_crear_informe", :informe_id => 2 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 3", {controller: "informes", action: "ver_crear_informe", :informe_id => 3 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 4", {controller: "informes", action: "ver_crear_informe", :informe_id => 4 }, class: "btn btn-forminst-blue" %>
        <p>   </p>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 5", {controller: "informes", action: "ver_crear_informe", :informe_id => 5 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 6", {controller: "informes", action: "ver_crear_informe", :informe_id => 6 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 7", {controller: "informes", action: "ver_crear_informe", :informe_id => 7 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
        <h5>¿Está seguro que desea enviar el informe?</h5>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "informes", action: "cambiar_estatusI", :informe_id => @informe.id }, class: "btn btn-default" %>
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    
  </div>
</div>

<div class="modal fade" id="myModalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Informe</h3>
      </div>
      <div class="modal-body">
        <h5>¿Está seguro que desea eliminar este informe?</h5>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "informes", action: "eliminar_informe", :informe_id => @informe.id }, class: "btn btn-default" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de notificación</h4>
      </div>
      <div class="modal-body">
        <h5>El informe ya fue enviado.</h5>
      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
    
  </div>
</div>



<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
       <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
      
        <%if @bool_enviado == 0 %>
         <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Enviar</button>
        <%else%>
          <button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-default">Enviar</button>
        <%end%>
      <%= link_to "Vista Previa", {controller: "informes", action: "vista_previa"}, class: "btn btn-default" %>
      <%= link_to "Generar PDF", {controller: "informes", action: "generar_pdf"},target: :_blank, class: "btn btn-default" %>
      <%= link_to "Agregar Soporte", {controller: "documents", action: "new"}, class: "btn btn-default" %>
      <%= link_to "Ver Soporte", {controller: "documents", action: "index"}, class: "btn btn-default" %>
      <%= link_to "Versiones Anteriores", {controller: "iniciotutor", action: "ver_respaldos"}, class: "btn btn-default" %>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalEliminar">
        Eliminar Informe
      </button>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <%if flash[:mensaje]%>
      <div class="panel panel-warning">
        <div class="panel-body">
          <h5><b><%=flash[:mensaje]%></b></h5>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class= "text-left">
      <%if @nombre%>
        <div>
          <span><%= link_to 'Plan Formación', :controller => 'iniciotutor', :action => 'planformacions' %></span>
          <p style="display:inline"> / </p>
          <span><%= link_to session[:instructorName] , :controller => 'iniciotutor', :action => 'ver_detalles_adecuacion' %></span>
          <p style="display:inline"> / </p>
          <span><%= link_to 'Informes', :controller => 'informes', :action => 'listar_informes' %></span>
          <p style="display:inline">  /  <%= @nombre_informe  %></p>
        </div>
      <%end%>
    </div>
    <div class="text-right">
      <div id = "fechamuestra">
        <h3> <%= Time.now.strftime("%d") %>
          <% if Time.now.strftime("%m").to_i == 1 %>
            de Enero del
          <% elsif Time.now.strftime("%m").to_i == 2 %>
            de Febrero del
          <% elsif Time.now.strftime("%m").to_i == 3 %>
            de Marzo del
          <% elsif Time.now.strftime("%m").to_i == 4 %>
            de Abril del
          <% elsif Time.now.strftime("%m").to_i == 5 %>
            de Mayo del
          <% elsif Time.now.strftime("%m").to_i == 6 %>
            de Junio del
          <% elsif Time.now.strftime("%m").to_i == 7 %>
            de Julio del
          <% elsif Time.now.strftime("%m").to_i == 8 %>
            de Agosto del
          <% elsif Time.now.strftime("%m").to_i == 9 %>
            de Septiembre del
          <% elsif Time.now.strftime("%m").to_i == 10 %>
            de Octubre del
          <% elsif Time.now.strftime("%m").to_i == 11 %>
            de Noviembre del
          <% elsif Time.now.strftime("%m").to_i == 12 %>
            de Diciembre del
          <% end %>
          <%= Time.now.strftime("%Y") %> 
        </h3>
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify">
    <h1 class="text-left">Detalles del Informe</h1>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
    <h5><strong><%=@nombre_informe.upcase%> DE ACTIVIDADES REALIZADAS POR EL INSTRUCTOR DURANTE LA EJECUCIÓN DE SU PLAN DE FORMACIÓN Y CAPACITACIÓN</strong></h5>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-left">
    <h5><strong>Estado del Documento: <%=@status.concepto%></strong></h5>
  </div>
</div>
<br/>
<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td  colspan="2" class="text-left">
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-left"><h5><strong>1. Datos del instructor en formación y su tutor:</strong></h5></td>
          </tr>
          <tr>
            <td class="text-left"><strong>Numero del Informe: </strong></td>
            <td class="text-left"><strong>Fecha de Realización del Informe: </strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @informe.numero%></td>
            <td class="text-left"><%= @informe.fecha_creacion%></td>
          </tr>
          <tr>
            <td class="text-left"><strong>Apellidos y Nombres del Instructor: </strong></td>
            <td class="text-left"><strong>Cédula de Identidad del Instructor: </strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= session[:instructorName]%></td>
            <td class="text-left"><%= @instructor.ci%></td>
          </tr>
          <tr>
            <td class="text-left"><strong>Período que comprende el informe: </strong></td>
            <td class="text-left"><strong>Apellidos y Nombres del Tutor: </strong></td>
          </tr>
          <tr>
            <td class="text-left">Periodo</td>
            <td class="text-left"><%= @persona.nombres%></td>
          </tr>
           <tr>
            <td class="text-left"><strong>Cédula de Identidad del Tutor: </strong></td>
            <td class="text-left"><strong>Escuela o Instituto de Adscripción: </strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @persona.ci%></td>
            <td class="text-left"><%= @escuela.nombre%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class = 'col-xs-3 col-md-3 col-lg-3'>
      <%= link_to "<< Volver", {controller: "informes", action: "listar_informes"}, class: "btn btn-forminst" %>
  </div>
  <div class = 'col-xs-9 col-md-9 col-lg-9 text-right'>
     <%= link_to "Siguiente >>", {controller: "informes", action: "detalles_informe2"}, class: "btn btn-forminst" %>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Informe</h3>
      </div>
      <div class="modal-body">
          <%= form_tag({controller: 'informes', action: 'eliminar_informe'}) do%>
            <div class="form-group">
              <center>
                <h5><strong>Está seguro que desea eliminar este informe?</strong></h5>
              </center>
            </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-forminst">Si</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
      <%end%>
    </div>
  </div>
</div>

