<p id="notice"><%= notice %></p>

<h1>Listing Observacionactividadadecuacions</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Revisionid</th>
      <th>Adecuacionactividadid</th>
      <th>Observacion</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observacionactividadadecuacions.each do |observacionactividadadecuacion| %>
      <tr>
        <td><%= observacionactividadadecuacion.id %></td>
        <td><%= observacionactividadadecuacion.revisionId %></td>
        <td><%= observacionactividadadecuacion.adecuacionActividadId %></td>
        <td><%= observacionactividadadecuacion.observacion %></td>
        <td><%= observacionactividadadecuacion.fecha %></td>
        <td><%= link_to 'Show', observacionactividadadecuacion %></td>
        <td><%= link_to 'Edit', edit_observacionactividadadecuacion_path(observacionactividadadecuacion) %></td>
        <td><%= link_to 'Destroy', observacionactividadadecuacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observacionactividadadecuacion', new_observacionactividadadecuacion_path %>
