<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @observacionactividadadecuacion.id %>
</p>

<p>
  <strong>Revisionid:</strong>
  <%= @observacionactividadadecuacion.revisionId %>
</p>

<p>
  <strong>Adecuacionactividadid:</strong>
  <%= @observacionactividadadecuacion.adecuacionActividadId %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @observacionactividadadecuacion.observacion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @observacionactividadadecuacion.fecha %>
</p>

<%= link_to 'Edit', edit_observacionactividadadecuacion_path(@observacionactividadadecuacion) %> |
<%= link_to 'Back', observacionactividadadecuacions_path %>
