
<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../inicioinstructor/index">Inicio</a></li>
        <li><a href="#" class='active' >Adecuación del Plan</span></a></li>
        <li><a href="../inicioinstructor/listar_informes">Informes</a></li>
        <li><a href="../inicioinstructor/prorrogas">Prorrogas</a></li>
        <li><a href="../inicioinstructor/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
      <%= link_to "Vista Previa", {controller: "inicioinstructor", action: "vista_previa"}, class: "btn btn-default" %>
      <%= link_to "Generar PDF", {controller: "adecuacions", action: "generar_pdf"},target: :_blank, class: "btn btn-default" %>
      <%= link_to "Ver Soportes", {controller: "inicioinstructor", action: "ver_soporte"}, class: "btn btn-default" %>
      <%= link_to "Versiones Anteriores", {controller: "inicioinstructor", action: "ver_respaldos"}, class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <%if flash[:mensaje]%>
      <div class="panel panel-warning">
        <div class="panel-body">
          <h5><b><%=flash[:mensaje]%></b></h5>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class="text-right">
      <div id = "fechamuestra">
        <h3> <%= Time.now.strftime("%d") %>
          <% if Time.now.strftime("%m").to_i == 1 %>
            de Enero del
          <% elsif Time.now.strftime("%m").to_i == 2 %>
            de Febrero del
          <% elsif Time.now.strftime("%m").to_i == 3 %>
            de Marzo del
          <% elsif Time.now.strftime("%m").to_i == 4 %>
            de Abril del
          <% elsif Time.now.strftime("%m").to_i == 5 %>
            de Mayo del
          <% elsif Time.now.strftime("%m").to_i == 6 %>
            de Junio del
          <% elsif Time.now.strftime("%m").to_i == 7 %>
            de Julio del
          <% elsif Time.now.strftime("%m").to_i == 8 %>
            de Agosto del
          <% elsif Time.now.strftime("%m").to_i == 9 %>
            de Septiembre del
          <% elsif Time.now.strftime("%m").to_i == 10 %>
            de Octubre del
          <% elsif Time.now.strftime("%m").to_i == 11 %>
            de Noviembre del
          <% elsif Time.now.strftime("%m").to_i == 12 %>
            de Diciembre del
          <% end %>
          <%= Time.now.strftime("%Y") %> 
        </h3>
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify">
    <h1 class="text-left">Detalles de la Adecuación</h1>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
    <h5><strong>ADECUACIÓN DEL PLAN DE FORMACIÓN Y CAPACITACIÓN DE DOCENTES EN LA CATEGORÍA DE INSTRUCTOR</strong></h5>
  </div>
</div>
<br/>

<div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>1. Datos del Instructor en Formación</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Fecha del Concurso de Oposición:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Nombre:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @plan.fecha_inicio %></td>
              <td class="text-left"><%= @persona.nombres %></td>
            </tr>


            <tr>
              <td style='width:50%;' class="text-left"><strong>Apellido:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Cédula de Identidad:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @persona.apellidos %></td>
              <td class="text-left"><%= @persona.ci %></td>
            </tr>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Correo Electrónico:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Teléfono Celular:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @usuario.user %>@ciens.ucv.ve</td>
              <td class="text-left"><%= @persona.telefono1 %></td>
            </tr>
            </tr>
            <tr>
              <td class="text-left"><strong>Otro Teléfono:</strong></td>
            </tr>
            <tr> 
              <td class="text-left"><%= @persona.telefono2 %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>2. Perfil del Instructor en Formación:</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Grado de Instrucción:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Área:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @persona.grado_instruccion %></td>
              <td class="text-left"><%= @persona.area %></td>
            </tr>
            <tr>
              <td style='width:50%;' class="text-left"><strong>Subárea:</strong></td>
            </tr>
            <tr> 
              <td class="text-left"><%= @persona.subarea %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>3. Datos de la dependencia</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Unidad de Adscripción de Investigación:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Unidad de Adscripción de Docencia:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @plan.adscripcion_investigacion %></td>
              <td class="text-left"><%= @plan.adscripcion_docencia %></td>
            </tr>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Fecha de realización del documento:</strong></td>
              <td style='width:50%;' class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><%= @adecuacion.fecha_creacion %></td>
              <td class="text-left"></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>4. Datos del Tutor Encargado</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Nombre:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Apellido:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @cpTutor.nombres %></td>
              <td class="text-left"><%= @cpTutor.apellidos %></td>
            </tr>


            <tr>
              <td style='width:50%;' class="text-left"><strong>Dirección:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Correo Electrónico:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @cpTutor.direccion %></td>
              <td class="text-left"><%= @cpTutorEmail %>@ciens.ucv.ve</td>
            </tr>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Teléfono Celular:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Otro Celular:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @cpTutor.telefono1 %></td>
              <td class="text-left"><%= @persona.telefono2 %></td>
            </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <% if !@tutorAnteriores.blank? %>

    <div class= "row">
      <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
          <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td class="text-left"></td>
              </tr>

              <tr>
                <td class="text-left"><h5><strong>5. Tutores Anteriores</strong></h5></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <div class= "row">
        <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <td class="text-left"> Nombre </td>
                  <td class="text-left"> Fecha Inicio </td>
                  <td class="text-left"> Fecha Fin </td>
                </tr>
                <% @tutorAnteriores.each do |asig| %>
                <tr>
                  <td class="text-left"> <%= Persona.where(usuario_id: asig.tutor_id).take.nombres + " " + Persona.where(usuario_id: asig.tutor_id).take.apellidos %> </td>
                  <td class="text-left"> <%= asig.fecha_inicio.to_s[8..9] + "-" + asig.fecha_inicio.to_s[5..6] + "-" + asig.fecha_inicio.to_s[0..3]%> </td>
                  <td class="text-left">
                    <% if !asig.fecha_fin.blank? %>
                      <%= asig.fecha_fin.to_s[8..9] + "-" + asig.fecha_fin.to_s[5..6] + "-" + asig.fecha_fin.to_s[0..3]%>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

  <% end %>

<div class = 'row'>
  <div class = 'col-xs-3 col-md-3 col-lg-3'>
      <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
  </div>
  <div class = 'col-xs-9 col-md-9 col-lg-9 text-right'>
     <%= link_to "Siguiente >>", {controller: "inicioinstructor", action: "detalles_adecuacion2"}, class: "btn btn-forminst" %>
  </div>
</div>
