<div class = 'row'>
	<div class="col-xs-12 col-md-12">
		
		<ul class="nav nav-tabs"> 
			<li><a href="../inicioentidad/index" class="active">Inicio</a></li>
        <li><%= link_to 'Listar Adecuaciones', :controller => 'inicioentidad', :action => 'listar_adecuaciones' %></li>
        <li><%= link_to 'Listar Informes', :controller => 'inicioentidad', :action => 'listar_informes' %></li>
        <li><%= link_to 'Prórroga', :controller => 'inicioentidad', :action => 'prorroga' %></li>
        <li><a href="../inicioentidad/logout">Cerrar Sesión</a></li>
		</ul>
		
	</div>

</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="text-right">
			<div id = "fechamuestra">
				<script languaje="JavaScript">
					fecha();
				</script> 
			</div>
			<%if @nombre%>
				<div>
					<h4><b><%=@nombre%></b></h4>
				</div>
			<%end%>
			<p>Entidad</p>
		</div>
	</div>
</div>
<div class="row">
	<div class = 'col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify'>
		<h1 class = 'text-center'>Bienvenido al Sistema FORMINST</h1>
		<br>
		<br>
		<% if @notificaciones1 %>
		    <div class="table-responsive">
		      <table class="table table-hover table-bordered text-center">
		        <thead>
		          <tr>
		            <th class="text-center">Notificaciones</th>
		            <th class="text-center" style='width:10%;'>Eliminar</th>
		          </tr>
		        </thead>
		        <tbody>
		        	<% if !@notificaciones1.blank? %>
			          	<% @notificaciones1.reverse_each.each_with_index do |notificaciones1| %> 
							<%= form_tag({controller: 'inicioentidad', action: 'borrar_notificaciones'}) do%>
							<input id="noti" type="hidden" name="noti" value='<%= notificaciones1.id %>'/>
				            <tr>
				              <td class="text-left"><%= notificaciones1.mensaje %></td>
				              <td><button type="submit" class="glyphicon glyphicon-trash" aria-hidden="true"></button></td>
				            </tr>
			        		<% end %>
		          		<% end %>
		          	<% else %>
		          		<tr>
				            <td class="text-center">No tienes nuevas notificaciones, vuelve mas tarde</td>
				        </tr>
		          	<% end %>
		        </tbody>
		      </table>
		    </div>
		<% end %>
		<br>
		<br>
	</div>
</div>