<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../inicioentidad/index">Inicio</a></li>
        <li><a href="../inicioentidad/listar_adecuaciones">Listar Adecuaciones</a></li>
        <li><a href="../inicioentidad/listar_informes" class="active">Listar Informes</a></li>
        <li><a href="../inicioentidad/prorroga">Prorroga</a></li>
        <li><a href="../inicioentidad/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
        <h5>Está seguro que desea enviar el informe?.</h5>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "inicioentidad", action: "cambiar_estatusI", :informe_id => @informe.id, :rechazar => 0 }, class: "btn btn-default" %>
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    
  </div>
</div>


<div class="modal fade" id="myModal4" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
        <h5>Seleccione la acción que desea realizar sobre el informe.</h5>
      </div>
      <div class="modal-footer">
      <%= link_to "Aprobar", {controller: "inicioentidad", action: "cambiar_estatusI", :informe_id => @informe.id, :rechazar => 0 }, class: "btn btn-default" %>
      <%= link_to "Rechazar", {controller: "inicioentidad", action: "cambiar_estatusI", :informe_id => @informe.id, :rechazar => 1 }, class: "btn btn-default" %>
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    
  </div>
</div>



<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de notificación</h4>
      </div>
      <div class="modal-body">
        <h5>El informe ya fue enviado.</h5>
      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
    
  </div>
</div>



<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
       <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
        <%if @bool_enviado == 0 %>
          <%if session[:entidad_id]==13 %>
             <button type="button" data-toggle="modal" data-target="#myModal4" class="btn btn-default">Aprobar/Rechazar</button>
          <%else%>
            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Enviar</button>
          <%end%>

        <%else%>
            <%if session[:entidad_id]==13 %>
                <button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-default">Aprobar/Rechazar</button>
            <%else%>
                <button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-default">Enviar</button>
            <%end%>
       
        <%end%>
        
      <%= link_to "Vista Previa", {controller: "iniciotutor", action: "vista_previa"}, class: "btn btn-default" %>
      <%= link_to "Generar PDF", {controller: "adecuacions", action: "descargar_pdf"}, class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <%if flash[:mensaje]%>
      <div class="panel panel-warning">
        <div class="panel-body">
          <h5><b><%=flash[:mensaje]%></b></h5>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class="text-right">
      <div id = "fechamuestra">
        <script languaje="JavaScript">
          fecha();
        </script> 
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify">
    <h1 class="text-left">Detalles del Informe</h1>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
    <h5><strong><%=@nombre_informe%> DE ACTIVIDADES REALIZADAS POR EL INSTRUCTOR DURANTE LA EJECUCIÓN DE SU PLAN DE FORMACIÓN Y CAPACITACIÓN</strong></h5>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-left">
    <h5><strong>Estado del Documento: <%=@status.concepto%></strong></h5>
  </div>
</div>
<br/>
<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="text-center">
            </td>
          </tr>
          <tr>
            <td class="text-left"><h5><strong>1. Datos del instructor en formación y su tutor:</strong></h5></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td style='width:50%;' class="text-left"><strong>Numero del Informe:</strong></td>
            <td style='width:50%;' class="text-left"><strong>Fecha de Realización del Informe:</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @informe.numero%></td>
            <td class="text-left"><%= @informe.fecha_creacion%></td>
          </tr>
          <tr>
            <td style='width:50%;' class="text-left"><strong>Apellidos y Nombres del Instructor:</strong></td>
            <td style='width:50%;' class="text-left"><strong>Cédula de Identidad del Instructor:</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @instructor.nombres%></td>
            <td class="text-left"><%= @instructor.ci%></td>
          </tr>
          <tr>
            <td style='width:50%;' class="text-left"><strong>Período que comprende el informe:</strong></td>
            <td style='width:50%;' class="text-left"><strong>Apellidos y Nombres del Tutor:</strong></td>
          </tr>
          <tr>
            <td class="text-left">Periodo</td>
            <td class="text-left"><%= @persona.nombres%></td>
          </tr>
           <tr>
            <td style='width:50%;' class="text-left"><strong>Cédula de Identidad del Tutor:</strong></td>
            <td style='width:50%;' class="text-left"><strong>Escuela o Instituto de Adscripción:</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @persona.ci%></td>
            <td class="text-left"><%= @escuela.nombre%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class = 'col-xs-3 col-md-3 col-lg-3'>
      <%= link_to "<< Volver", {controller: "inicioentidad", action: "listar_informes"}, class: "btn btn-forminst" %>
  </div>
  <div class = 'col-xs-9 col-md-9 col-lg-9 text-right'>
     <%= link_to "Siguiente >>", {controller: "inicioentidad", action: "detalles_informe2"}, class: "btn btn-forminst" %>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Informe</h3>
      </div>
      <div class="modal-body">
          <%= form_tag({controller: 'informes', action: 'eliminar_informe'}) do%>
            <div class="form-group">
              <center>
                <h5><strong>Está seguro que desea eliminar este informe?</strong></h5>
              </center>
            </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-forminst">Si</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
      <%end%>
    </div>
  </div>
</div>

