<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../inicioentidad/index">Inicio</a></li>
        <%if session[:informe_id]%> 
          <li><a href="../inicioentidad/listar_adecuaciones" >Listar Adecuaciones</a></li>
          <li><a href="../inicioentidad/listar_informes" class="active">Listar Informes</a></li>
        <%else %>
          <li><a href="../inicioentidad/listar_adecuaciones" class="active">Listar Adecuaciones</a></li>
          <li><a href="../inicioentidad/listar_informes">Listar Informes</a></li>
        <%end%>
        <li><a href="../inicioentidad/prorroga">Prorroga</a></li>
        <li><a href="../inicioentidad/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
        <h5>Está seguro que desea enviar la adecuación?.</h5>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "inicioentidad", action: "cambiar_estatusA", :adecuacion_id => session[:adecuacion_id] }, class: "btn btn-default" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    
  </div>
</div>



<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de notificación</h4>
      </div>
      <div class="modal-body">
        <h5>El adecuacion ya fue enviada.</h5>
      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModali" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
        <h5>Está seguro que desea enviar el informe?.</h5>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "inicioentidad", action: "cambiar_estatusI", :informe_id => session[:informe_id]}, class: "btn btn-default" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal4i" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
        <h5>Seleccione la acción que desea realizar sobre el informe.</h5>
      </div>
      <div class="modal-footer">
      <%= link_to "Aprobar", {controller: "inicioentidad", action: "cambiar_estatusI", :informe_id => session[:informe_id], :rechazar => 0 }, class: "btn btn-default" %>
      <%= link_to "Rechazar", {controller: "inicioentidad", action: "cambiar_estatusI", :informe_id => session[:informe_id], :rechazar => 1 }, class: "btn btn-default" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal3" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de notificación</h4>
      </div>
      <div class="modal-body">
        <h5>No puede realizar ningún cambio debido a que la adecuación ya fue enviada.</h5>
      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
    
  </div>
</div>

<div class="modal fade" id="myModal4" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
        <h5>Seleccione la acción que desea realizar sobre la adecuación (Si agrego observaciones, se enviará como "Aprobado con Observaciones" y debe ser corregido por el tutor encargado)</h5>
      </div>
      <div class="modal-footer">
      <%= link_to "Aprobar", {controller: "inicioentidad", action: "cambiar_estatusA", :adecuacion_id => session[:adecuacion_id], :rechazar => 0 }, class: "btn btn-default" %>
      <%= link_to "Rechazar", {controller: "inicioentidad", action: "cambiar_estatusA", :adecuacion_id => session[:adecuacion_id], :rechazar => 1 }, class: "btn btn-default" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
       <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
        <%if @bool_enviado == 0 %>
          <%if session[:entidad_id]==13 %>
            <%if session[:informe_id]%> 
              <button type="button" data-toggle="modal" data-target="#myModal4i" class="btn btn-default">Aprobar/Rechazar</button>
            <%else %>
              <button type="button" data-toggle="modal" data-target="#myModal4" class="btn btn-default">Aprobar/Rechazar</button>
            <%end%>
          <%else%>
            <%if session[:informe_id]%> 
              <button type="button" data-toggle="modal" data-target="#myModali" class="btn btn-default">Enviar</button>
            <%else %>
              <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Enviar</button>
            <%end%>
          <%end%>
        <%else %>
          <%if session[:entidad_id]==13 %>
            <button type="button" class="btn btn-default disabled">Aprobar/Rechazar</button>
          <%else%>
            <button type="button" class="btn btn-default disabled">Enviar</button>
          <%end%>
        <%end%>
      <%if session[:informe_id]%> 
        <%= link_to "Vista Previa", {controller: "inicioentidad", action: "vista_previa1"}, class: "btn btn-default" %>
        <%= link_to "Generar PDF", {controller: "informes", action: "generar_pdf"},target: :_blank, class: "btn btn-default" %>
      <%else%>
        <%= link_to "Vista Previa", {controller: "inicioentidad", action: "vista_previa"}, class: "btn btn-default" %>
        <%= link_to "Generar PDF", {controller: "adecuacions", action: "generar_pdf"},target: :_blank, class: "btn btn-default" %>
      <%end%> 
      <%= link_to "Ver Soportes", {controller: "inicioentidad", action: "ver_soporte"}, class: "btn btn-default active" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class="text-right">
      <div id = "fechamuestra">
        <script languaje="JavaScript">
          fecha();
        </script> 
      </div>
      <%if session[:nombre_usuario]%>
        <div>
          <h4><b><%=session[:nombre_usuario]%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>

<%if session[:informe_id]%> 
  <h1>Soportes Adjuntos al Informe</h1>
<%else %>
  <h1>Soportes Adjuntos a la Adecuación</h1>
<%end%>

  <br></br>


<% if !@documents.blank? %>
  <div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
      <thead>
        <tr>
          <th class="text-center">Nombre del Archivo</th>
          <th class="text-center">Descargar</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <td class = "text-center"><%= document.filename %></td>
            <td class = "text-center" ><%= button_to 'Descargar', document, method: :get , class: "btn btn-info"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <br></br>
  <%if session[:informe_id]%> 
    <h2 class="text-center">No hay documentos adjuntos a este Informe</h2>
  <%else %>
    <h2 class="text-center">No hay documentos adjuntos a esta Adecuación</h2>
  <%end%>
  <br></br>
<% end %>
<br></br>