<%= form_for(@estatusadecuacion) do |f| %>
  <% if @estatusadecuacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estatusadecuacion.errors.count, "error") %> prohibited this estatusadecuacion from being saved:</h2>

      <ul>
      <% @estatusadecuacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :adecuacionId %><br>
    <%= f.number_field :adecuacionId %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :estatusId %><br>
    <%= f.number_field :estatusId %>
  </div>
  <div class="field">
    <%= f.label :actual %><br>
    <%= f.check_box :actual %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
