<p id="notice"><%= notice %></p>

<h1>Listing Estatusadecuacions</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Adecuacionid</th>
      <th>Fecha</th>
      <th>Estatusid</th>
      <th>Actual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estatusadecuacions.each do |estatusadecuacion| %>
      <tr>
        <td><%= estatusadecuacion.id %></td>
        <td><%= estatusadecuacion.adecuacionId %></td>
        <td><%= estatusadecuacion.fecha %></td>
        <td><%= estatusadecuacion.estatusId %></td>
        <td><%= estatusadecuacion.actual %></td>
        <td><%= link_to 'Show', estatusadecuacion %></td>
        <td><%= link_to 'Edit', edit_estatusadecuacion_path(estatusadecuacion) %></td>
        <td><%= link_to 'Destroy', estatusadecuacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estatusadecuacion', new_estatusadecuacion_path %>
