<% if @planformacions%>
  <div class = 'row'>
    <h1>Lista de Planes Formación</h1>
    <p>Haga click en el Plan de Formación en caso de que se desee visualizar los detalles del mismo</p>
  </div>

  <p id="notice"><%= notice %></p>

  <table class = "table">
    <thead>
      <tr>
        <th>Fechainicio</th>
        <th>Fechafin</th>
        <th>Instructorid</th>
        <th>Tutorid</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
        <% @planformacions.each do |planformacion| %>
          <tr>
            <td><%= planformacion.fechaInicio %></td>
            <td><%= planformacion.fechaFin %></td>
            <td><%= planformacion.instructorId %></td>
            <td><%= planformacion.tutorId %></td>
            <td><p>Ver detalles</p></td>
            <!--
            <td><%#= link_to 'Show', planformacion %></td>
            <td><%#= link_to 'Edit', edit_planformacion_path(planformacion) %></td>
            <td><%#= link_to 'Destroy', planformacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            -->
          </tr>
        <% end %>
        
    </tbody>
  </table>
<% else %>
  <h1>Usted no posee ningun Plan de Formación asociado</h1>
<% end %>
<br>

<%#= link_to 'New Planformacion', new_planformacion_path %>
