<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @usuarioentidad.id %>
</p>

<p>
  <strong>Usuarioid:</strong>
  <%= @usuarioentidad.usuarioId %>
</p>

<p>
  <strong>Entidadesid:</strong>
  <%= @usuarioentidad.entidadesId %>
</p>

<%= link_to 'Edit', edit_usuarioentidad_path(@usuarioentidad) %> |
<%= link_to 'Back', usuarioentidads_path %>
