<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @adecuacion.id %>
</p>

<p>
  <strong>Planformacionid:</strong>
  <%= @adecuacion.PlanFormacionId %>
</p>

<p>
  <strong>Tutorid:</strong>
  <%= @adecuacion.tutorId %>
</p>

<%= link_to 'Edit', edit_adecuacion_path(@adecuacion) %> |
<%= link_to 'Back', adecuacions_path %>
