<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @documento.id %>
</p>

<p>
  <strong>Informeactividadid:</strong>
  <%= @documento.informeActividadId %>
</p>

<p>
  <strong>Archivo:</strong>
  <%= @documento.archivo %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
