<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Inicio :: <%= controller.action_name %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "estilo", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<img src="/assets/banner.png" id="logo" class="img-responsive">
			
		</div>
	</div>
<br>

<% flash.each do |name,value| %>
	<div class='alert alert-<%= name %>'>
		<%= value %>
	</div>
<% end %>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
				<li><%= link_to "Inicio", {controller: "iniciotutor", action: "index"}, :class => ('active' if (controller_name== "iniciotutor") &&
				(action_name== "index")
				) %>
				<li><%= link_to "Plan de Formación", {controller: "iniciotutor", action: "planformacions"}%></li>

        <li class="dropdown" >
            <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-expanded="false">Informes <span class="caret"></span></a>
            <ul class="dropdown-menu nav" role="menu">
              <li></li>
                            
              <%if @cpBloquear%>
                <li><a href="#" style="color:gray">Crear Informe</a></li>
              <%else%>
              <li><a href="#" data-toggle="modal" data-target="#selectInforme">
                Crear Informe
              </a></li>
              <%end%>

              <li><%= link_to 'Listar Informes', :controller => 'informes', :action => 'listar_informes' %></li>
            </ul>
				</li>
				<li><%= link_to "Prórroga", {controller: "iniciotutor", action: "prorroga"}, :class => ('active' if (controller_name== "iniciotutor") &&
				(action_name== "prorroga")
				) %>
        <li><a href="../iniciotutor/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>

<div id="wrap">
	<%= yield %>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div id="footer">
	  		<p>Universidad Central de Venezuela</p>
	  		<p>Facultad de Ciencias  </p>
		</div>
	</div>
</div>
</div>

</body>
</html>
