<%= form_for(@observaciontutor) do |f| %>
  <% if @observaciontutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observaciontutor.errors.count, "error") %> prohibited this observaciontutor from being saved:</h2>

      <ul>
      <% @observaciontutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :informeActividadId %><br>
    <%= f.number_field :informeActividadId %>
  </div>
  <div class="field">
    <%= f.label :observacion %><br>
    <%= f.text_area :observacion %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :actual %><br>
    <%= f.check_box :actual %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
