<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @observaciontutor.id %>
</p>

<p>
  <strong>Informeactividadid:</strong>
  <%= @observaciontutor.informeActividadId %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @observaciontutor.observacion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @observaciontutor.fecha %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @observaciontutor.actual %>
</p>

<%= link_to 'Edit', edit_observaciontutor_path(@observaciontutor) %> |
<%= link_to 'Back', observaciontutors_path %>
