

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
        <h5>Está seguro que desea enviar la adecuación?.</h5>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "iniciotutor", action: "cambiar_estatusA", :adecuacion_id => @adecuacion.id }, class: "btn btn-default" %>
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    
  </div>
</div>



<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de notificación</h4>
      </div>
      <div class="modal-body">
        <h5>El adecuación ya fue enviada.</h5>
      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
    
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../iniciotutor/index">Inicio</a></li>
        <li><a href="../iniciotutor/listar_adecuaciones" class = 'active'>Plan de Adecuación</a></li> 
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Informes <span class="caret"></span></a>
            <ul class="dropdown-menu nav" role="menu">
              <li></li>
              <li><%= link_to 'Crear Informe', :controller => 'informes', :action => 'ver_crear_informe'%></li>
              <li><%= link_to 'Listar Informes', :controller => 'informes', :action => 'listar_informes' %></li>
            </ul>
        </li>
        <li><%= link_to 'Prórroga', :controller => 'iniciotutor', :action => 'prorroga' %></li>
        <li><a href="../iniciotutor/logout">Cerrar Sesión</a></li>
      </ul>
  
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
          <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Enviar</button>
      <%= link_to "Vista Previa", {controller: "iniciotutor", action: "vista_previa"}, class: "btn btn-default" %>
      <%= link_to "Generar PDF", {controller: "adecuacions", action: "generar_pdf"}, class: "btn btn-default" %>
      <button type="button" class="btn btn-default">Agregar Soporte</button>
      <button type="button" class="btn btn-default">Ver Soporte</button>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
        Eliminar Adecuación
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class= "text-left">
      <%if @nombre%>
        <div>
          <span><%= link_to 'Plan Formación', :controller => 'iniciotutor', :action => 'planformacions' %></span>
          <p style="display:inline"> / </p>
          <span><%= link_to session[:instructorName] , :controller => 'iniciotutor', :action => 'ver_detalles_plan' %></span>
          <p style="display:inline"> / </p>
          <span><%= link_to 'Adecuación', :controller => 'iniciotutor', :action => 'listar_adecuaciones' %></span>
          <p style="display:inline"> /  Detalles </p>        </div>
      <%end%>
    </div>
    <div class="text-right">
      <div id = "fechamuestra">
        <script languaje="JavaScript">
          fecha();
        </script> 
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify">
    <h1 class="text-left">Detalles de la Adecuación</h1>
  </div>
</div>
<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
      <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="text-left"></td>
          </tr>
          <tr>
            <td class="text-left"><h5><strong>2. Datos del Instructor en Formación</strong></h5></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Fecha del Concurso de Oposición</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @plan.fecha_inicio %></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Apellidos y Nombres</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= session[:instructorName] %></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Cédula de Identidad</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @persona.ci %></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Correo Electrónico</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @usuario.user %>@ciens.ucv.ve</td>
          </tr>
          <tr>
            <td class="text-center"><strong>Teléfono Celular</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @persona.telefono1 %></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Otro Teléfono</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @persona.telefono2 %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="text-center">
            </td>
          </tr>
          <tr>
            <td class="text-left"><h5><strong>3. Perfil del Instructor en Formación</strong></h5></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Grado de Instrucción</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @persona.grado_instruccion %></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Area</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @persona.area %></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Subárea</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @persona.subarea %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class = 'col-xs-3 col-md-3 col-lg-3'>
      <button type="button" class="btn btn-forminst" onclick = " location.href = 'javascript:history.back(-1);'">&lt;&lt; Volver</button>
  </div>
  <div class = 'col-xs-9 col-md-9 col-lg-9 text-right'>
    <%= form_tag({controller: 'iniciotutor', action: 'detalles_adecuacion3'}) do%>
      <input type="hidden" name="editar" value='no'>
      <button type="submit" class="btn btn-forminst">Detalles Semestrales</button>
    <%end%> 
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Adecuación</h3>
      </div>
      <div class="modal-body">
          <%= form_tag({controller: 'iniciotutor', action: 'eliminar_adecuacion'}) do%>
            <div class="form-group">
              <center>
                <h5><strong>Está seguro que desea eliminar esta adecuación?</strong></h5>
              </center>
            </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-forminst">Si</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
      <%end%>
    </div>
  </div>
</div>