
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
      <center>
        <h5>¿Está seguro que desea enviar esta adecuación?</h5>
      </center>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "iniciotutor", action: "cambiar_estatusA", :adecuacion_id => @adecuacion.id }, class: "btn btn-default" %>
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    
  </div>
</div>

<div class="modal fade" id="myModalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Adecuación</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <center>
            <h5>¿Está seguro que desea eliminar esta adecuación?</h5>
          </center>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "iniciotutor", action: "eliminar_adecuacion" }, class: "btn btn-default" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de notificación</h4>
      </div>
      <div class="modal-body">
        <h5>El adecuación ya fue enviada.</h5>
      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
    
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../iniciotutor/index">Inicio</a></li>
        <li><a href="../iniciotutor/planformacions" class='active'>Plan de Formación</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Informes <span class="caret"></span></a>
            <ul class="dropdown-menu nav" role="menu">
              <li></li>
              <li><a href="#" data-toggle="modal" data-target="#selectInforme">
                Crear Informe
              </a></li>
              <li><%= link_to 'Listar Informes', :controller => 'informes', :action => 'listar_informes' %></li>
            </ul>
        </li>
        <li><%= link_to 'Prórroga', :controller => 'iniciotutor', :action => 'prorroga' %></li>
        <li><a href="../iniciotutor/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>

<div class="modal fade" id="selectInforme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Informe</h3>
      </div>
      <div class="modal-body">
        <h5>Seleccione el informe a crear</h5>
      </div>
      <div class="modal-body">
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 1", {controller: "informes", action: "ver_crear_informe", :informe_id => 1 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 2", {controller: "informes", action: "ver_crear_informe", :informe_id => 2 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 3", {controller: "informes", action: "ver_crear_informe", :informe_id => 3 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 4", {controller: "informes", action: "ver_crear_informe", :informe_id => 4 }, class: "btn btn-forminst-blue" %>
        <p>   </p>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 5", {controller: "informes", action: "ver_crear_informe", :informe_id => 5 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 6", {controller: "informes", action: "ver_crear_informe", :informe_id => 6 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 7", {controller: "informes", action: "ver_crear_informe", :informe_id => 7 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
       <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
       <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Enviar</button>
       <%= link_to "Vista Previa", {controller: "iniciotutor", action: "vista_previa"}, class: "btn btn-default" %>
       <%= link_to "Generar PDF", {controller: "adecuacions", action: "generar_pdf"},target: :_blank, class: "btn btn-default" %>
       <%= link_to "Agregar Soporte", {controller: "documents", action: "new"}, class: "btn btn-default" %>
       <%= link_to "Ver Soporte", {controller: "documents", action: "index"}, class: "btn btn-default" %>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalEliminar">Eliminar Adecuación</button>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <%if flash[:mensaje]%>
      <div class="panel panel-warning">
        <div class="panel-body">
          <h5><b><%=flash[:mensaje]%></b></h5>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class= "text-left">
      <%if @nombre%>
        <div>
          <span><%= link_to 'Plan Formación', :controller => 'iniciotutor', :action => 'planformacions' %></span>
            <p style="display:inline"> / </p>
            <span><%= link_to session[:instructorName] , :controller => 'iniciotutor', :action => 'ver_detalles_adecuacion' %></span>
            <p style="display:inline"> /   Detalles </p>
        </div>
      <%end%>
    </div>
    <div class="text-right">
      <div id = "fechamuestra">
        <script languaje="JavaScript">
          fecha();
        </script> 
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify">
    <h1 class="text-left">Detalles de la Adecuación</h1>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
    <h5><strong>ADECUACIÓN DEL PLAN DE FORMACIÓN Y CAPACITACIÓN DE DOCENTES EN LA CATEGORÍA DE INSTRUCTOR</strong></h5>
  </div>
</div>
<br/>
<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="text-center">
            </td>
          </tr>
          <tr>
            <td class="text-left"><h5><strong>1. Datos de la dependencia</strong></h5></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Escuela o Instituto</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @escuela.nombre %></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Area</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @instructor.area %></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Fecha de Realización del Documento</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @adecuacion.fecha_creacion %></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Unidad de Adscripción de Docencia</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @plan.adscripcion_docencia %></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Unidad de Adscripción de Investigación</strong></td>
          </tr>
          <tr>
            <td class="text-left"><%= @plan.adscripcion_investigacion %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class = 'col-xs-3 col-md-3 col-lg-3'>
      <button type="button" class="btn btn-forminst" onclick = " location.href = 'javascript:history.back(-1);'">&lt;&lt; Volver</button>
  </div>
  <div class = 'col-xs-9 col-md-9 col-lg-9 text-right'>
     <%= link_to "Siguiente >>", {controller: "iniciotutor", action: "detalles_adecuacion2"}, class: "btn btn-forminst" %>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Adecuación</h3>
      </div>
      <div class="modal-body">
          <%= form_tag({controller: 'iniciotutor', action: 'eliminar_adecuacion'}) do%>
            <div class="form-group">
              <center>
                <h5><strong>Está seguro que desea eliminar esta adecuación?</strong></h5>
              </center>
            </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-forminst">Si</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
      <%end%>
    </div>
  </div>
</div>