<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../iniciotutor/index">Inicio</a></li>
        <li><a href="../iniciotutor/planformacions" class='active'>Plan de Formación</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Informes <span class="caret"></span></a>
            <ul class="dropdown-menu nav" role="menu">
              <li></li>
              <li><a href="#" data-toggle="modal" data-target="#selectInforme">
                Crear Informe
              </a></li>
              <li><%= link_to 'Listar Informes', :controller => 'informes', :action => 'listar_informes' %></li>
            </ul>
        </li>
        <li><%= link_to 'Prórroga', :controller => 'iniciotutor', :action => 'prorroga' %></li>
        <li><a href="../iniciotutor/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
      <center>
          <h5>¿Está seguro que desea enviar esta adecuación?</h5>
        </center>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "iniciotutor", action: "cambiar_estatusA", :adecuacion_id => @adecuacion.id }, class: "btn btn-default" %>
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    
  </div>
</div>

<div class="modal fade" id="myModalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Adecuación</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <center>
            <h5>¿Está seguro que desea eliminar esta adecuación?</h5>
          </center>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "iniciotutor", action: "eliminar_adecuacion" }, class: "btn btn-default" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Adecuación</h3>
      </div>
      <div class="modal-body">
          <%= form_tag({controller: 'iniciotutor', action: 'eliminar_adecuacion'}) do%>
            <div class="form-group">
              <center>
                <h5>Está seguro que desea eliminar esta adecuación?</h5>
              </center>
            </div>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-forminst">Si</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
      <%end%>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de notificación</h4>
      </div>
      <div class="modal-body">
        <h5>El adecuación ya fue enviada.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="selectInforme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Eliminar Informe</h3>
      </div>
      <div class="modal-body">
        <h5>Seleccione el informe a crear</h5>
      </div>
      <div class="modal-body">
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 1", {controller: "informes", action: "ver_crear_informe", :informe_id => 1 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 2", {controller: "informes", action: "ver_crear_informe", :informe_id => 2 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 3", {controller: "informes", action: "ver_crear_informe", :informe_id => 3 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 4", {controller: "informes", action: "ver_crear_informe", :informe_id => 4 }, class: "btn btn-forminst-blue" %>
        <p>   </p>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 5", {controller: "informes", action: "ver_crear_informe", :informe_id => 5 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 6", {controller: "informes", action: "ver_crear_informe", :informe_id => 6 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <%= link_to "Informe 7", {controller: "informes", action: "ver_crear_informe", :informe_id => 7 }, class: "btn btn-forminst-blue" %>
        <b>&emsp;&emsp;&emsp;</b>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
      <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Enviar</button>
      <%= link_to "Vista Previa", {controller: "iniciotutor", action: "vista_previa"}, class: "btn btn-default active" %>
      <%= link_to "Generar PDF", {controller: "adecuacions", action: "generar_pdf"}, class: "btn btn-default" %>
       <%= link_to "Agregar Soporte", {controller: "documents", action: "new"}, class: "btn btn-default" %>
       <%= link_to "Ver Soporte", {controller: "documents", action: "index"}, class: "btn btn-default" %>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalEliminar">Eliminar Adecuación</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class="text-right">
      <div class= "text-left">
        <%if @nombre%>
          <div>
            <span><%= link_to 'Plan Formación', :controller => 'iniciotutor', :action => 'planformacions' %></span>
            <p style="display:inline"> / </p>
            <span><%= link_to session[:instructorName] , :controller => 'iniciotutor', :action => 'ver_detalles_adecuacion' %></span>
            <p style="display:inline"> /  Vista Previa </p>
          </div>
        <%end%>
      </div>
      <div id = "fechamuestra">
        <script languaje="JavaScript">
          fecha();
        </script> 
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-xs-12 col-md-12">
    <h5 class="text-left"><strong>UNIVERSIDAD CENTRAL DE VENEZUELA</strong></h5>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <h5 class="text-left"><strong>FACULTAD DE CIENCIAS</strong></h5>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <h5 class="text-left"><strong><%= @escuela.nombre.upcase.mb_chars %></strong></h5>
  </div>
</div>
<br>


<p class="text-center"><b>ADECUACIÓN DEL PLAN DE FORMACIÓN Y CAPACITACIÓN DE DOCENTES EN LA CATEGORÍA DE INSTRUCTOR</b></p>
<br>

<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
      <div class="table-responsive">
      <b><p>1.- DATOS DE LA DEPENDENCIA</p></b>
      <table class="table table-black">
        <tbody>
          <tr>
            <td style="width:20%;" class="text-left"><b>Escuela o Instituto:</b></td>
            <td class="text-left"><%= @escuela.nombre %></td>
          </tr>
          <tr>
            <td class="text-left"><b>Área:</b></td>
            <td class="text-left"><%= @persona.area %></td>
          </tr>
          <tr>
            <td class="text-left"><b>Fecha de realización del presente documento:</b></td>
            <td class="text-left"> <%= @fechaActual %></td>
          </tr>
          <tr>
            <td class="text-left"><b>Unidad de Adscripción de Docencia:</b></td>
            <td class="text-left"><%= @adscripcion_docencia %></td>
          </tr>
          <tr>
            <td class="text-left"><b>Unidad de Adscripción de Investigación:</b></td>
            <td class="text-left"><%= @adscripcion_investigacion %></td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>

<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
      <div class="table-responsive">
      <b><p>2.- DATOS DEL INSTRUCTOR EN FORMACIÓN</p></b>
      <table class="table table-black">
        <tbody>
          <tr>
            <td style="width:20%;" class="text-left"><b>Fecha del Concurso de Oposición:</b></td>
            <td class="text-left"> <%= @fechaConcurso %> </td>
          </tr>
          <tr>
            <td class="text-left"><b>Apellidos y Nombres:</b></td>
            <td class="text-left"><%= @persona.apellidos + " " + @persona.nombres %></td>
          </tr>
          <tr>
            <td class="text-left"><b>Cédula de Identidad:</b></td>
            <td class="text-left"><%= @persona.ci %></td>
          </tr>
          <tr>
            <td class="text-left"><b>Correo Electrónico:</b></td>
            <td class="text-left"><%= @user.user %>@ciens.ucv.ve</td>
          </tr>
          <tr>
            <td class="text-left"><b>Teléfono Celular:</b></td>
            <td class="text-left"><%= @persona.telefono1 %></td>
          </tr>
           <tr>
            <td class="text-left"><b>Otro Teléfono:</b></td>
            <td class="text-left"><%= @persona.telefono2 %></td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>

<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
      <div class="table-responsive">
      <b><p>3.-PERFIL DEL INSTRUCTOR EN FORMACIÓN</p></b>
      <table class="table table-black">
        <tbody>
          <tr>
            <td style="width:20%;" class="text-left"><b>Grado de Instrucción:</b></td>
            <td class="text-left"><%=  @cpinstruccion %></td>
          </tr>
          <tr>
            <td class="text-left"><b>Área:</b></td>
            <td class="text-left"><%= @persona.area %></td>
          </tr>
          <tr>
            <td class="text-left"><b>Subárea:</b></td>
            <td class="text-left"><%= @persona.subarea %></td>
          </tr>        
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>

<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
      <div class="table-responsive">
      <b><p>4.-ACTIVIDADES A REALIZAR POR EL INSTRUCTOR</p></b>
      <table class="table table-black">
        <tbody>
          <tr>
            <td><b>PRIMER SEMESTRE</b></td>
          </tr>
          <tr>
            <td class="text-left"><b>4.1.- Docencia:</b></td>
          </tr>
            <% @actividades1doc.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
            <% end %>
          <tr>
            <td class="text-left"><b>4.2.- Investigación:</b></td>
          </tr>
            <% @actividades1inv.each_with_index do |actdoc, i| %>
                <tr>
                  <td class="text-left"><%= actdoc.actividad %></td>
                </tr>
            <% end %>
          <tr>
            <td class="text-left"><b>4.3.- Formación:</b></td>
          </tr>
          <% @actividades1for.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>
          <tr>
            <td class="text-left"><b>4.4.- Extensión:</b></td>
          </tr>
          <% @actividades1ext.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>
          <tr>
            <td class="text-left"><b>4.5.- Otras Actividades:</b></td>
          </tr>
          <% @actividades1otr.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>



          <tr>
            <td><b>SEGUNDO SEMESTRE</b></td>
            </tr>
          <tr>
            <td class="text-left"><b>4.1.- Docencia:</b></td>
          </tr>
            <% @actividades2doc.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
            <% end %>
          <tr>
            <td class="text-left"><b>4.2.- Investigación:</b></td>
          </tr>
            <% @actividades2inv.each_with_index do |actdoc, i| %>
                <tr>
                  <td class="text-left"><%= actdoc.actividad %></td>
                </tr>
            <% end %>
          <tr>
            <td class="text-left"><b>4.3.- Formación:</b></td>
          </tr>
          <% @actividades2for.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>
          <tr>
            <td class="text-left"><b>4.4.- Extensión:</b></td>
          </tr>
          <% @actividades2ext.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>
          <tr>
            <td class="text-left"><b>4.5.- Otras Actividades:</b></td>
          </tr>
          <% @actividades2otr.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>


          <tr>
            <td><b>TERCER SEMESTRE</b></td>
          </tr>
          <tr>
            <td class="text-left"><b>4.1.- Docencia:</b></td>
          </tr>
            <% @actividades3doc.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
            <% end %>
          <tr>
            <td class="text-left"><b>4.2.- Investigación:</b></td>
          </tr>
            <% @actividades3inv.each_with_index do |actdoc, i| %>
                <tr>
                  <td class="text-left"><%= actdoc.actividad %></td>
                </tr>
            <% end %>
          <tr>
            <td class="text-left"><b>4.3.- Formación:</b></td>
          </tr>
          <% @actividades3for.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>
          <tr>
            <td class="text-left"><b>4.4.- Extensión:</b></td>
          </tr>
          <% @actividades3ext.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>
          <tr>
            <td class="text-left"><b>4.5.- Otras Actividades:</b></td>
          </tr>
          <% @actividades3otr.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>

          <tr>
            <td><b>CUARTO SEMESTRE</b></td>
          </tr>
          <tr>
            <td class="text-left"><b>4.1.- Docencia:</b></td>
          </tr>
            <% @actividades4doc.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
            <% end %>
          <tr>
            <td class="text-left"><b>4.2.- Investigación:</b></td>
          </tr>
            <% @actividades4inv.each_with_index do |actdoc, i| %>
                <tr>
                  <td class="text-left"><%= actdoc.actividad %></td>
                </tr>
            <% end %>
          <tr>
            <td class="text-left"><b>4.3.- Formación:</b></td>
          </tr>
          <% @actividades4for.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>
          <tr>
            <td class="text-left"><b>4.4.- Extensión:</b></td>
          </tr>
          <% @actividades4ext.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>
          <tr>
            <td class="text-left"><b>4.5.- Otras Actividades:</b></td>
          </tr>
          <% @actividades4otr.each_with_index do |actdoc, i| %>
              <tr>
                <td class="text-left"><%= actdoc.actividad %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
    <div class="table-responsive">
      <table class="table table-black">
        <tbody>
          <tr>
            <td style="width:50%;";><p>Firma del Tutor:</p>
              <p>&nbsp;</p></td>
            <td></td>
          </tr>
          <tr>
            <td> <p>Adecuación del Plan de Formación y Capacitación Aprobado por el Consejo de Escuela o Instituto en Sesión de Fecha:</p>
              <p>&nbsp;</p></td>
            <td> <p>Adecuación del Plan de Formación y Capacitación Aprobado por el Consejo de Facultad de Ciencias en Sesión de Fecha:</p>
              <p>&nbsp;</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>

<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
    <b><p>Universidad Central de Venezuela - Facultad de Ciencias</p></b>
    <p>Av. Los Ilustres, Ciudad Universitaria de Caracas, Facultad de Ciencias,<br>
    Edificio del Decanato, Planta Baja, Los Chaguaramos, Caracas-Venezuela<br>
    Teléfono/fax:58-212-605.11.65/ 605.11.63 / E-mail: duberly.medina@ciens.ucv.ve</p>
  </div>
</div>


<br>
<br>

