<p id="notice"><%= notice %></p>

<h1>Listing Adecuacionactividads</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Adecuacionid</th>
      <th>Actividadid</th>
      <th>Anulada</th>
      <th>Semestre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adecuacionactividads.each do |adecuacionactividad| %>
      <tr>
        <td><%= adecuacionactividad.id %></td>
        <td><%= adecuacionactividad.adecuacionId %></td>
        <td><%= adecuacionactividad.actividadId %></td>
        <td><%= adecuacionactividad.anulada %></td>
        <td><%= adecuacionactividad.semestre %></td>
        <td><%= link_to 'Show', adecuacionactividad %></td>
        <td><%= link_to 'Edit', edit_adecuacionactividad_path(adecuacionactividad) %></td>
        <td><%= link_to 'Destroy', adecuacionactividad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adecuacionactividad', new_adecuacionactividad_path %>
