<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../inicioinstructor/index">Inicio</a></li>
        <li><a href="../inicioinstructor/listar_adecuaciones">Adecuación del Plan</a></li>
        <li><a href="../inicioinstructor/listar_informes"  class = 'active'>Informes</a></li>
        <li><a href="../inicioinstructor/prorrogas">Prorrogas</a></li>
        <li><a href="../inicioinstructor/logout">Cerrar Sesión</a></li>
      </ul>
  
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
       <%= link_to "Volver", {controller: "inicioinstructor", action: "ver_detalles_informe"}, class: "btn btn-default" %>
      <%= link_to "Vista Previa", {controller: "inicioinstructor", action: "vista_previa1"}, class: "btn btn-default" %>
      <%= link_to "Generar PDF", {controller: "informes", action: "generar_pdf"},target: :_blank, class: "btn btn-default" %>
      <%= link_to "Ver Soportes", {controller: "inicioinstructor", action: "ver_soporte"}, class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <%if flash[:mensaje]%>
      <div class="panel panel-warning">
        <div class="panel-body">
          <h5><b><%=flash[:mensaje]%></b></h5>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class="text-right">
      <div id = "fechamuestra">
        <script languaje="JavaScript">
          fecha();
        </script> 
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify">
    <h1 class="text-left">Detalles del Informe</h1>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
    <h5><strong><%=session[:nombre_informe]%> DE ACTIVIDADES REALIZADAS POR EL INSTRUCTOR DURANTE LA EJECUCIÓN DE SU PLAN DE FORMACIÓN Y CAPACITACIÓN</strong></h5>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-left">
    <h5><strong>Estado del Documento: <%=session[:status_informe]%></strong></h5>
  </div>
</div>
<br/>
<div class= "row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <%= form_tag({controller: 'informes', action: 'actualizar_informe'}) do%>
        <input id="cant_docencia" type="hidden" name="cant_docencia" value="<%=@actividadesadoc.size()%>"/> 
        <input id="cant_investigacion" type="hidden" name="cant_investigacion" value="<%=@actividadesainv.size()%>"/>
        <input id="cant_formacion" type="hidden" name="cant_formacion" value="<%=@actividadesafor.size()%>"/> 
        <input id="cant_extension" type="hidden" name="cant_extension" value="<%=@actividadesaext.size()%>"/> 
        <input id="cant_otra" type="hidden" name="cant_otra" value="<%=@actividadesaotr.size()%>"/>
        <input id="cant_result" type="hidden" name="cant_result" value="<%=@resultados.size()%>"/> 
        <input id="tipoinf" type="hidden" name="tipoinf" value="<%=@tipo_informe%>"/> 
        <input id="numeroinf" type="hidden" name="numero_informe" value="<%=@numero_informe%>"/> 

        <table class="table table-bordered ">
          <tbody>
            <tr></tr>
            <tr>
              <td class="text-left" colspan="3"><h5><strong> Actividades a realizar por el instructor:</strong></h5></td>
            </tr>
            <tr class='title-table'>

              <td class="text-center"  style='width:30%;'><strong>Actividad Docente Programada</strong></td>
              <td class="text-center"  style='width:30%;'><strong>Actividad Docente Ejecutada</strong></td>
            </tr>
              <% @actividadesadoc.each_with_index do |actdoc, i| %>
                <tr>
                  <td>
                    <textarea class="form-control" rows="3" name='docencia<%= actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                  </td>
                  <td>
                    <textarea class="form-control" rows="3" name='ejecutada<%= actdoc.id.to_s%>' disabled><%= @actividadese[@j].descripcion %></textarea>
                  </td>
                  <input type="hidden" name="doc<%=i.to_s%>" value='<%= actdoc.id %>'>
                  
                </tr>
                <% @j= @j +1 %>
              <% end %>

            <tr><td colspan="3"></td></tr>
  
            <tr class='title-table'>
              <td class="text-center"><strong>Actividad de Investigación Programada</strong></td>
              <td class="text-center"><strong>Actividad de Investigación Ejecutada</strong></td>
            </tr>

            <% @actividadesainv.each_with_index do |actdoc,i| %>
              <tr>
                <td>
                    <textarea class="form-control" rows="3" name='investigacion<%= actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                  </td>
                  <td>
                    <textarea class="form-control" rows="3" name='ejecutada<%= actdoc.id.to_s%>' disabled><%= @actividadese[@j].descripcion %></textarea>
                  </td>
                  <input type="hidden" name="inv<%=i.to_s%>" value='<%= actdoc.id %>'>
              </tr>
              <% if @resultados[@j]!= nil %>
                <input type="hidden" name="result<%=i.to_s%>" value='<%= @resultados[@j].id %>'>
                  <tr>
                    <td colspan="3">
                      <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-4">

                        <!--NO SE SI EL INSTRUCTOR VE SUS RESULTADOS!-->
                        
                        <% if @resultados[@j].tipo_resultado_id==1 %>
                              <h3>Trabajo publicado</h3>
                              <label>Tipo de Trabajo Publicado:</label>
                              <% if @resultados[@j].tipo_publicacion.to_i==1 %>
                              <h5>Libros</h5>
                                 <label>Título:</label>
                                 <%= @resultados[@j].titulo %><br>
                                 <label>Autor:</label>
                                 <%= @resultados[@j].autor %><br>
                                 <label>Año de Publicación:</label>
                                 <%= @resultados[@j].ano %><br>
                                 <label>Ciudad en la que se realizó la publicación:</label>
                                 <%= @resultados[@j].ciudad %><br>
                                 <label>País en el que se realizó la publicación:</label>
                                 <%= @resultados[@j].pais %><br>
                                 <label>Editor:</label>
                                 <%= @resultados[@j].editor %><br>
                              <%else%>
                                <% if @resultados[@j].tipo_publicacion.to_i==2 %>
                                  <h5>Artículo de Revista</h5>
                                  <label>Título:</label>
                                  <%= @resultados[@j].titulo %><br>
                                  <label>Autor:</label>
                                  <%= @resultados[@j].autor %><br>
                                  <label>Año de Publicación:</label>
                                  <%= @resultados[@j].ano %><br>
                                  <label>Nombre de la Revista:</label>
                                  <%= @resultados[@j].nombre_revista %><br>
                                  <label>Número de páginas:</label>
                                  <%= @resultados[@j].paginas %><br>
                                <%else%>
                                  <% if @resultados[@j].tipo_publicacion.to_i==3 %>
                                    <h5>Artículo de Prensa</h5>
                                    <label>Título:</label>
                                    <%= @resultados[@j].titulo %><br>
                                    <label>Nombre del autor docente encargado:</label>
                                    <%= @resultados[@j].autor %><br>
                                    <label>Día en que se realizó la publicación:</label>
                                    <%= @resultados[@j].dia %><br>
                                    <label>Mes en el que se realizó la publicación:</label>
                                    <%= @resultados[@j].mes %><br>
                                    <label>Año de Publicación:</label>
                                    <%= @resultados[@j].ano %><br>
                                    <label>Nombre del Periódico:</label>
                                    <%= @resultados[@j].nombre_periodico %>
                                    <label>Número de páginas:</label>
                                    <%= @resultados[@j].paginas %><br>
                                  <%else%>
                                    <% if @resultados[@j].tipo_publicacion.to_i==4 %>
                                      <h5>CD</h5>
                                      <label>Título:</label><br>
                                      <%= @resultados[@j].titulo %><br>
                                      <label>Nombre del autor docente encargado:</label>
                                      <%= @resultados[@j].autor %><br>
                                      <label>Año de Publicación:</label>
                                      <%= @resultados[@j].ano %><br>
                                      <label>Ciudad en la que se realizó la publicación:</label>
                                      <%= @resultados[@j].ciudad %><br>
                                      <label>País en el que se realizó la publicación:</label>
                                      <%= @resultados[@j].pais %><br>
                                      <label>Editor:</label>
                                      <%= @resultados[@j].editor %><br>
                                    <%else%>
                                      <% if @resultados[@j].tipo_publicacion.to_i==5 %>
                                        <h5>Manuales</h5>
                                        <label>Título:</label>
                                        <%= @resultados[@j].titulo %><br>
                                        <label>Nombre del autor docente encargado:</label>
                                        <%= @resultados[@j].autor %><br>
                                        <label>Día en que se realizó la publicación:</label>
                                        <%= @resultados[@j].dia %><br>
                                        <label>Mes en el que se realizó la publicación:</label>
                                        <%= @resultados[@j].mes %><br>
                                        <label>Año de Publicación:</label>
                                        <%= @resultados[@j].ano %><br>
                                        <label>Ciudad en la que se realizó la publicación:</label>
                                        <%= @resultados[@j].ciudad %><br>
                                        <label>Estado en el que se realizó la publicación:</label>
                                        <%= @resultados[@j].estado %><br>
                                        <label>País en el que se realizó la publicación:</label>
                                        <%= @resultados[@j].pais %><br>
                                        <label>Editor:</label>
                                        <%= @resultados[@j].editor %><br>
                                      <%else%>
                                        <% if @resultados[@j].tipo_publicacion.to_i==6 %>
                                          <h5>Publicaciones Electrónicas</h5>
                                          <label>Nombre del autor docente encargado:</label>
                                          <%= @resultados[@j].autor %><br>
                                          <label>Día en que se realizó la publicación:</label>
                                          <%= @resultados[@j].dia %><br>
                                          <label>Mes en el que se realizó la publicación:</label>
                                          <%= @resultados[@j].mes %><br>
                                          <label>Año de Publicación:</label>
                                          <%= @resultados[@j].ano %><br>
                                          <label>Nombre de la página web:</label>
                                          <%= @resultados[@j].nombre_paginaw %><br>
                                          <label>Sitio de la página web:</label>
                                          <%= @resultados[@j].sitio_paginaw %><br>
                                          <label>URL:</label>
                                          <%= @resultados[@j].url %><br>
                                        <%end%>
                                      <%end%>
                                    <%end%>
                                  <%end%>
                                <%end%>
                              <%end%>
                        <%else%>
                          <% if @resultados[@j].tipo_resultado_id==2 %>
                            <h3>Presentación de Ponencias, Conferencias y Carteles en Eventos Científicos</h3><br>
                            <label>Título:</label>
                            <%= @resultados[@j].titulo %><br>
                            <label>Nombre del autor docente encargado:</label>
                            <%= @resultados[@j].autor %><br>
                            <label>Título del Capítulo:</label>
                            <%= @resultados[@j].titulo_capitulo %><br>
                            <label>Nombre del autor del Capítulo:</label>
                            <%= @resultados[@j].autor_capitulo %><br>
                            <label>Día en que se realizó la publicación:</label>
                            <%= @resultados[@j].dia %><br>
                            <label>Mes en el que se realizó la publicación:</label>
                            <%= @resultados[@j].mes %><br>
                            <label>Año de Publicación:</label>
                            <%= @resultados[@j].ano %><br>
                            <label>Ciudad en la que se realizó la publicación:</label>
                            <%= @resultados[@j].ciudad %><br>
                            <label>Editor:</label>
                            <%= @resultados[@j].editor %><br>
                            <label>Número de páginas:</label>
                            <%= @resultados[@j].paginas %><br>
                            <label>Nombre del acto o evento:</label>
                            <%= @resultados[@j].nombre_acto %><br>
                          <%else%>
                            <% if @resultados[@j].tipo_resultado_id==3 %>
                              <h3>Presentación de Informes Técnicos</h3>
                              <label>Título:</label>
                              <%= @resultados[@j].titulo %><br>
                              <label>Nombre del autor docente encargado:</label>
                              <%= @resultados[@j].autor %><br>
                              <label>Título del Capítulo:</label>
                              <%= @resultados[@j].titulo_capitulo %><br>
                              <label>Nombre del autor del Capítulo:</label>
                              <%= @resultados[@j].autor_capitulo %><br>
                              <label>Día en que se realizó la publicación:</label>
                              <%= @resultados[@j].dia %><br>
                              <label>Mes en el que se realizó la publicación:</label>
                              <%= @resultados[@j].mes %><br>
                              <label>Año de Publicación:</label>
                              <%= @resultados[@j].ano %><br>
                              <label>Ciudad en la que se realizó la publicación:</label>
                              <%= @resultados[@j].ciudad %><br>
                              <label>Estado en el que se realizó la publicación:</label>
                              <%= @resultados[@j].estado %><br>
                              <label>País en el que se realizó la publicación:</label>
                              <%= @resultados[@j].pais %><br>
                              <label>Entidad Organizadora:</label>
                              <%= @resultados[@j].organizador %><br>
                              <label>Duración:</label>
                              <%= @resultados[@j].duracion %><br>
                              <label>Editor:</label>
                              <%= @resultados[@j].editor %><br>
                              <label>Número de páginas:</label>
                              <%= @resultados[@j].paginas %><br>
                              <label>Nombre del acto o evento:</label>
                              <%= @resultados[@j].nombre_acto %><br>
                            <%else%>
                              <% if @resultados[@j].tipo_resultado_id==4 %>
                                 <h3>Otros</h3>
                                 <label>Título:</label>
                                 <%= @resultados[@j].titulo %><br>
                                 <label>Nombre del autor docente encargado:</label>
                                 <%= @resultados[@j].autor %><br>
                                 <label>Día en que se realizó la publicación:</label>
                                 <%= @resultados[@j].dia %><br>
                                 <label>Mes en el que se realizó la publicación:</label>
                                 <%= @resultados[@j].mes %><br>
                                 <label>Año de Publicación:</label>
                                 <%= @resultados[@j].ano %><br>
                                 <label>Ciudad en la que se realizó la publicación:</label>
                                 <%= @resultados[@j].ciudad %><br>
                                 <label>Editor:</label>
                                 <%= @resultados[@j].editor %><br>
                                 <label>Número de páginas:</label>
                                 <%= @resultados[@j].paginas %><br>
                                 <label>Nombre del acto o evento:</label>
                                 <%= @resultados[@j].nombre_acto %><br>
                              <%else%>
                                <% if @resultados[@j].tipo_resultado_id==5 %>
                                  <h3>Asistencia a Eventos Científicos</h3>
                                  <label>Título:</label>
                                  <%= @resultados[@j].titulo %><br>
                                  <label>Nombre del autor docente encargado:</label>
                                  <%= @resultados[@j].autor %><br>
                                  <label>Título del Capítulo:</label>
                                  <%= @resultados[@j].titulo_capitulo %><br>
                                  <label>Nombre del autor del Capítulo:</label>
                                  <%= @resultados[@j].autor_capitulo %><br>
                                  <label>Día en que se realizó la publicación:</label>
                                  <%= @resultados[@j].dia %><br>
                                  <label>Mes en el que se realizó la publicación:</label>
                                  <%= @resultados[@j].mes %><br>
                                  <label>Año de Publicación:</label>
                                  <%= @resultados[@j].ano %><br>
                                  <label>Ciudad en la que se realizó la publicación:</label>
                                  <%= @resultados[@j].ciudad %><br>
                                  <label>Estado en el que se realizó la publicación:</label>
                                  <%= @resultados[@j].estado %><br>
                                  <label>País en el que se realizó la publicación:</label>
                                  <%= @resultados[@j].pais %><br>
                                  <label>Nombre del acto o evento:</label>
                                  <%= @resultados[@j].nombre_acto %><br>
                                <%else%>
                                  <% if @resultados[@j].tipo_resultado_id==6 %>
                                    <h3>Organización de Eventos Científicos</h3>
                                    <label>Título:</label>
                                    <%= @resultados[@j].titulo %><br>
                                    <label>Nombre del autor docente encargado:</label>
                                    <%= @resultados[@j].autor %><br>
                                    <label>Título del Capítulo:</label>
                                    <%= @resultados[@j].titulo_capitulo %><br>
                                    <label>Nombre del autor del Capítulo:</label>
                                    <%= @resultados[@j].autor_capitulo %><br>
                                    <label>Día en que se realizó la publicación:</label>
                                    <%= @resultados[@j].dia %><br>
                                    <label>Mes en el que se realizó la publicación:</label>
                                    <%= @resultados[@j].mes %><br>
                                    <label>Año de Publicación:</label>
                                    <%= @resultados[@j].ano %><br>
                                    <label>Ciudad en la que se realizó la publicación:</label>
                                    <%= @resultados[@j].ciudad %><br>
                                    <label>Estado en el que se realizó la publicación:</label>
                                    <%= @resultados[@j].estado %><br>
                                    <label>País en el que se realizó la publicación:</label>
                                    <%= @resultados[@j].pais %><br>
                                    <label>Nombre del acto o evento:</label>
                                    <%= @resultados[@j].nombre_acto %><br>
                                  <%else%>
                                    <% if @resultados[@j].tipo_resultado_id==7 %>
                                      <h3>Dictado de Cursos, Talleres o Seminarios Científicos</h3>
                                      <label>Título:</label>
                                      <%= @resultados[@j].titulo %><br>
                                      <label>Nombre del autor docente encargado:</label>
                                      <%= @resultados[@j].autor %><br>
                                      <label>Título del Capítulo:</label>
                                      <%= @resultados[@j].titulo_capitulo %><br>
                                      <label>Nombre del autor del Capítulo:</label>
                                      <%= @resultados[@j].autor_capitulo %><br>
                                      <label>Día en que se realizó la publicación:</label>
                                      <%= @resultados[@j].dia %><br>
                                      <label>Mes en el que se realizó la publicación:</label>
                                      <%= @resultados[@j].mes %><br>
                                      <label>Año de Publicación:</label>
                                      <%= @resultados[@j].ano %><br>
                                      <label>Ciudad en la que se realizó la publicación:</label>
                                      <%= @resultados[@j].ciudad %><br>
                                      <label>Estado en el que se realizó la publicación:</label>
                                      <%= @resultados[@j].estado %><br>
                                      <label>País en el que se realizó la publicación:</label>
                                      <%= @resultados[@j].pais %><br>
                                      <label>Entidad Organizadora:</label>
                                      <%= @resultados[@j].organizador %><br>
                                      <label>Duración:</label>
                                      <%= @resultados[@j].duracion %><br>
                                      <label>Editor:</label>
                                      <%= @resultados[@j].editor %><br>
                                      <label>Título del libro al que hace referencia:</label>
                                      <%= @resultados[@j].titulo_libro %><br>
                                      <label>Autor del libro al que hace referencia:</label>
                                      <%= @resultados[@j].autor_libro %><br>
                                      <label>Número de páginas:</label>
                                      <%= @resultados[@j].paginas %><br>
                                    <%end%>
                                  <%end%>
                                <%end%>
                              <%end%>
                            <%end%>
                          <%end%>
                        <%end%>
                        </div>
                      </div>
                    </td>
                  </tr>

              <%else%>
              <%end%>
              <% @j= @j +1 %>
            <% end %>

            
            
            <tr><td colspan="3"></td></tr>

            <tr class='title-table'>
              <td class="text-center"><strong>Actividad de Formación Programada</strong></td>
              <td class="text-center"><strong>Actividad de Formación Ejecutada</strong></td>
            </tr>
            <% @actividadesafor.each_with_index do |actdoc,i| %>
              <tr>
                <td>
                    <textarea class="form-control" rows="3" name='formacion<%= actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                  </td>
                  <td>
                    <textarea class="form-control" rows="3" name='ejecutada<%= actdoc.id.to_s%>' disabled><%= @actividadese[@j].descripcion %></textarea>
                  </td>
              </tr>
              <% @j= @j +1 %>
            <% end %>

            <tr><td colspan="3"></td></tr>

            <tr  class='title-table'>
              <td class="text-center"><strong>Actividad de Extensión Programada</strong></td>
              <td class="text-center"><strong>Actividad de Extensión Ejecutada</strong></td>
            </tr>
            <% @actividadesaext.each_with_index do |actdoc,i| %>
              <tr>
                <td>
                    <textarea class="form-control" rows="3" name='extension<%= actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                  </td>
                  <td>
                    <textarea class="form-control" rows="3" name='ejecutada<%= actdoc.id.to_s%>' disabled><%=  @actividadese[@j].descripcion %></textarea>
                  </td>
              </tr>
               <% @j= @j +1 %>
            <% end %>

            <tr><td colspan="3"></td></tr>

            <tr  class='title-table'>
              <td class="text-center" colspan="3"><strong>Otras Actividades</strong></td>
            </tr>
            <tr>
              <td colspan="3"><b>Contempladas en el plan de formación y capacitación:</b></td>
            </tr>
            <% @actividadesaotr.each_with_index do |actdoc,i| %>
              <tr>
                <td colspan="3">
                  <textarea class="form-control" rows="3"  name='otra<%= actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan="3"><b>No contempladas en el plan de formación y capacitación:</b></td>
            </tr>
            <tr>
              <% if @actividadese[@j]!= nil %>
                <td colspan="3">
                  <textarea name="no_contemplada"class="form-control" rows="3" disabled><%= @actividadese[@j].descripcion %></textarea>
                </td>
              <%else%>
                <td colspan="3">
                  <textarea name="no_contemplada"class="form-control" rows="3" disabled></textarea>
                </td>
              <%end%>
              <% @j=@j+1 %>
            </tr>
            <tr>
              <td colspan="3"><b>Conclusiones:</b></td>
            </tr>
            <tr>
              <td colspan="3">
                  <textarea name="conclusiones" class="form-control" rows="3" disabled><%= @informe.conclusiones%></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="3"><b>Opinión tutor:</b></td>
            </tr>
            <tr>
              <td colspan="3">
                  <textarea name="opinion" class="form-control" rows="3" disabled><%= @informe.opinion_tutor %></textarea>
              </td>
            </tr>
        

          </tbody>
        </table>
      <div class = 'row'>
          <center><%= link_to "Volver", {controller: "inicioinstructor", action: "ver_detalles_informe"}, class: "btn btn-forminst" %></center>
      </div>
    <% end %>
  </div>
</div>


<!--<script type="text/javascript">
  function eliminar (elemento){
    $(elemento).parent().html('<a class="btn btn-default resultado"><span class="glyphicon glyphicon-plus"></span> Agregar Resultado</a>');
  }

</script> -->

