<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../inicioinstructor/index">Inicio</a></li>
        <li><a href="../inicioinstructor/listar_adecuaciones">Adecuación del Plan</a></li>
        <li><a href="../inicioinstructor/listar_informes"  class = 'active'>Informes</a></li>
        <li><a href="../inicioinstructor/prorrogas">Prorrogas</a></li>
        <li><a href="../inicioinstructor/logout">Cerrar Sesión</a></li>
      </ul>
  
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
       <%= link_to "Volver", {controller: "inicioinstructor", action: "ver_detalles_informe"}, class: "btn btn-default" %>
      <%= link_to "Vista Previa", {controller: "inicioinstructor", action: "vista_previa1"}, class: "btn btn-default" %>
      <%= link_to "Generar PDF", {controller: "informes", action: "generar_pdf"},target: :_blank, class: "btn btn-default" %>
      <%= link_to "Ver Soportes", {controller: "inicioinstructor", action: "ver_soporte"}, class: "btn btn-default" %>
      <%= link_to "Versiones Anteriores", {controller: "inicioinstructor", action: "ver_respaldos"}, class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <%if flash[:mensaje]%>
      <div class="panel panel-warning">
        <div class="panel-body">
          <h5><b><%=flash[:mensaje]%></b></h5>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class="text-right">
      <div id = "fechamuestra">
          <h3> <%= Time.now.strftime("%d") %>
          <% if Time.now.strftime("%m").to_i == 1 %>
            de Enero del
          <% elsif Time.now.strftime("%m").to_i == 2 %>
            de Febrero del
          <% elsif Time.now.strftime("%m").to_i == 3 %>
            de Marzo del
          <% elsif Time.now.strftime("%m").to_i == 4 %>
            de Abril del
          <% elsif Time.now.strftime("%m").to_i == 5 %>
            de Mayo del
          <% elsif Time.now.strftime("%m").to_i == 6 %>
            de Junio del
          <% elsif Time.now.strftime("%m").to_i == 7 %>
            de Julio del
          <% elsif Time.now.strftime("%m").to_i == 8 %>
            de Agosto del
          <% elsif Time.now.strftime("%m").to_i == 9 %>
            de Septiembre del
          <% elsif Time.now.strftime("%m").to_i == 10 %>
            de Octubre del
          <% elsif Time.now.strftime("%m").to_i == 11 %>
            de Noviembre del
          <% elsif Time.now.strftime("%m").to_i == 12 %>
            de Diciembre del
          <% end %>
          <%= Time.now.strftime("%Y") %> </h3>
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify">
    <h1 class="text-left">Detalles del Informe</h1>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
    <h5><strong><%=session[:nombre_informe]%> DE ACTIVIDADES REALIZADAS POR EL INSTRUCTOR DURANTE LA EJECUCIÓN DE SU PLAN DE FORMACIÓN Y CAPACITACIÓN</strong></h5>
  </div>
</div>
<br/>
<div class= "row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <%= form_tag({controller: 'informes', action: 'actualizar_informe'}) do%>

          <table id="cprtabla" class="table table-bordered ">
            <tbody>
              <tr></tr>
              <tr>
                <td class="text-center" colspan="4"><h5><strong> Actividades a realizar por el instructor:</strong></h5></td>
              </tr>
              <tr class='title-table'>

                <td class="text-center"  style='width:30%;'><strong>Actividad Docente Programada</strong></td>
                <td class="text-center"  style='width:30%;'><strong>Actividad Docente Ejecutada</strong></td>
                <td class="text-center"  style='width:30%;'><strong>Observaciones</strong></td>
                <td class="text-center"  style='width:30%;'><strong>Más observaciones</strong></td>
              </tr>
                <% @actividadesadoc.each_with_index do |actdoc, i| %>
                  <tr>
                    <td>
                      <textarea class="form-control" rows="3" name='docencia<%= actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                    </td>
                    <td>
                      <textarea class="form-control" rows="3" name='ejecutada<%= actdoc.id.to_s%>' disabled><%= @actividadese[@j].descripcion %></textarea>
                    </td>
                    <td>
                      <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' disabled><%=@observaciont[@j] %></textarea>
                    </td>
                    <td>
                      <%= link_to "Más obs. ", {:controller => "informes", :action => "mas_observaciones", :actividad_id => actdoc.id, :informe_id => @informe.id }, class: "pad add btn btn-default" %>
                    </td>
                    <input type="hidden" name="doc<%=i.to_s%>" value='<%= actdoc.id %>'>
                    
                  </tr>
                  <% @j= @j +1 %>
                <% end %>

              <tr><td colspan="3"></td></tr>
    
              <tr class='title-table'>
                <td class="text-center"><strong>Actividad de Investigación Programada</strong></td>
                <td class="text-center"><strong>Actividad de Investigación Ejecutada</strong></td>
                <td class="text-center"><strong>Observaciones</strong></td>
                <td class="text-center"  style='width:30%;'><strong>Más observaciones</strong></td>
              </tr>

              <% @actividadesainv.each_with_index do |actdoc,i| %>
                <tr>
                  <td>
                      <textarea class="form-control" rows="3" name='investigacion<%= actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                    </td>
                    <td>
                      <textarea class="form-control" rows="3" name='ejecutada<%= actdoc.id.to_s%>' disabled><%= @actividadese[@j].descripcion %></textarea>
                    </td>
                    <td>
                      <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' disabled><%=@observaciont[@j] %></textarea>
                    </td>
                    <td>
                      <%= link_to "Más obs. ", {:controller => "informes", :action => "mas_observaciones", :actividad_id => actdoc.id, :informe_id => @informe.id }, class: "pad add btn btn-default" %>
                    </td>
                    <input type="hidden" name="inv<%=i.to_s%>" value='<%= actdoc.id %>'>
                </tr>

                <input type="hidden" name="result<%=i.to_s%>" value='-1'>
                <% cpcont = 1 %>
                <% if !@resultados[@j].blank? %>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                           <tr>
                           <td colspan="4">
                            <h5>Resultados: </h5>
                           </td>
                           </tr>
                           <tr>
                           <td colspan="4">
                           <div class="well">
                           <% @resultados2a[@j].each_with_index do |cpresultados| %>
                             <span class="pull-left glyphicon glyphicon-ok" aria-hidden="true">
                             </span>
                             &nbsp; <%= cpresultados %>  
                             <br>
                           <% end %>
                           </div>
                           </td>
                           </tr>
                        </div>
                      </div>
                    </td>
                  </tr>
                <%end%>
                <% @j= @j +1 %>
              <% end %>

              
              
              <tr><td colspan="3"></td></tr>

              <tr class='title-table'>
                <td class="text-center"><strong>Actividad de Formación Programada</strong></td>
                <td class="text-center"><strong>Actividad de Formación Ejecutada</strong></td>
                <td class="text-center"><strong>Observaciones</strong></td>
                <td class="text-center"  style='width:30%;'><strong>Más observaciones</strong></td>
              </tr>
              <% @actividadesafor.each_with_index do |actdoc,i| %>
                <tr>
                  <td>
                      <textarea class="form-control" rows="3" name='formacion<%= actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                    </td>
                    <td>
                      <textarea class="form-control" rows="3" name='ejecutada<%= actdoc.id.to_s%>' disabled><%= @actividadese[@j].descripcion %></textarea>
                    </td>
                    <td>
                      <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' disabled><%=@observaciont[@j] %></textarea>
                    </td>
                    <td>
                      <%= link_to "Más obs. ", {:controller => "informes", :action => "mas_observaciones", :actividad_id => actdoc.id, :informe_id => @informe.id }, class: "pad add btn btn-default" %>
                    </td>
                    <input type="hidden" name="for<%=i.to_s%>" value='<%= actdoc.id %>'>
                </tr>
                <% @j= @j +1 %>
              <% end %>

              <tr><td colspan="3"></td></tr>

              <tr  class='title-table'>
                <td class="text-center"><strong>Actividad de Extensión Programada</strong></td>
                <td class="text-center"><strong>Actividad de Extensión Ejecutada</strong></td>
                <td class="text-center"><strong>Observaciones</strong></td>
                <td class="text-center"  style='width:30%;'><strong>Más observaciones</strong></td>
              </tr>
              <% @actividadesaext.each_with_index do |actdoc,i| %>
                <tr>
                  <td>
                      <textarea class="form-control" rows="3" name='extension<%= actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                    </td>
                    <td>
                      <textarea class="form-control" rows="3" name='ejecutada<%= actdoc.id.to_s%>' disabled><%=  @actividadese[@j].descripcion %></textarea>
                    </td>
                    <td>
                      <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' disabled><%=@observaciont[@j] %></textarea>
                    </td>
                    <td>
                      <%= link_to "Más obs. ", {:controller => "informes", :action => "mas_observaciones", :actividad_id => actdoc.id, :informe_id => @informe.id }, class: "pad add btn btn-default" %>
                    </td>
                    <input type="hidden" name="ext<%=i.to_s%>" value='<%= actdoc.id %>'>
                </tr>
                 <% @j= @j +1 %>
              <% end %>

              <tr  class='title-table'>
              <tr>
                <td class="text-center" colspan="4"><h5><strong> Otras Actividades:</strong></h5></td>
              </tr>
                <td class="text-center" colspan="2"><strong>Contempladas en el plan formación</strong></td>
                <td class="text-center" colspan="2"><strong>No contempladas en el plan formación</strong></td>
              </tr>
              <% @actividadesaotr.each_with_index do |actdoc,i| %>
                <tr>
                  <td colspan="2">
                    <textarea class="form-control" rows="3"  name='otra<%= actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                  </td>
                  <td colspan="2">
                    <%if @actividadese[@j] != nil %>
                    <textarea class="form-control" rows="3" name='ejecutada<%= actdoc.id.to_s%>' disabled><%=  @actividadese[@j].descripcion %></textarea>
                    <%else%>
                    <textarea class="form-control" rows="3" name='ejecutada<%= actdoc.id.to_s%>' disabled></textarea>
                    <%end%>
                  </td>
                  <input type="hidden" name="otra<%=i.to_s%>" value='<%= actdoc.id %>'>
                </tr>
                <% @j= @j +1 %>
              <% end %>
              <tr>
                <td colspan="4"><b>Conclusiones:</b></td>
              </tr>
              <tr>
                <td colspan="4">
                    <textarea name="conclusiones" class="form-control" rows="3" disabled><%= @informe.conclusiones%></textarea>
                </td>
              </tr>
              <tr>
                <td colspan="4"><b>Opinión tutor:</b></td>
              </tr>
              <tr>
                <td colspan="4">
                    <textarea name="opinion" class="form-control" rows="3" disabled><%= @informe.opinion_tutor %></textarea>
                </td>
              </tr>
          

            </tbody>
          </table>
      <div class = 'row'>
          <center><%= link_to "Volver", {controller: "inicioinstructor", action: "ver_detalles_informe"}, class: "btn btn-forminst" %></center>
      </div>
    <% end %>
  </div>
</div>
  
