<p id="notice"><%= notice %></p>

<h1>Listing Estatusinformes</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Informeid</th>
      <th>Fecha</th>
      <th>Estatusid</th>
      <th>Actual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estatusinformes.each do |estatusinforme| %>
      <tr>
        <td><%= estatusinforme.id %></td>
        <td><%= estatusinforme.informeId %></td>
        <td><%= estatusinforme.fecha %></td>
        <td><%= estatusinforme.estatusId %></td>
        <td><%= estatusinforme.actual %></td>
        <td><%= link_to 'Show', estatusinforme %></td>
        <td><%= link_to 'Edit', edit_estatusinforme_path(estatusinforme) %></td>
        <td><%= link_to 'Destroy', estatusinforme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estatusinforme', new_estatusinforme_path %>
