<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @estatusinforme.id %>
</p>

<p>
  <strong>Informeid:</strong>
  <%= @estatusinforme.informeId %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @estatusinforme.fecha %>
</p>

<p>
  <strong>Estatusid:</strong>
  <%= @estatusinforme.estatusId %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @estatusinforme.actual %>
</p>

<%= link_to 'Edit', edit_estatusinforme_path(@estatusinforme) %> |
<%= link_to 'Back', estatusinformes_path %>
