<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
        <h5>Está seguro que desea enviar la adecuación?.</h5>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "inicioentidad", action: "cambiar_estatusA", :adecuacion_id => @adecuacion.id }, class: "btn btn-default" %>
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    
  </div>
</div>



<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de notificación</h4>
      </div>
      <div class="modal-body">
        <h5>El adecuacion ya fue enviada.</h5>
      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
    
  </div>
</div>


<div class="modal fade" id="myModal3" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de notificación</h4>
      </div>
      <div class="modal-body">
        <h5>No puede realizar ningún cambio debido a que la adecuación ya fue enviada.</h5>
      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
    
  </div>
</div>

<div class="modal fade" id="myModal4" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body text-center">
        <h5 center>Seleccione la acción que desea realizar sobre la adecuación</h5>
        <h9> (Si decide "Aprobado con Observaciones" la adecuación debe ser corregida por el tutor encargado)</h9>
      </div>
      <div class="modal-footer">
      <%= link_to "Aprobar", {controller: "inicioentidad", action: "cambiar_estatusA", :adecuacion_id => @adecuacion.id, :rechazar => 0 }, class: "btn btn-default" %>
      <%= link_to "Aprobar con Observaciones", {controller: "inicioentidad", action: "cambiar_estatusA", :adecuacion_id => @adecuacion.id, :rechazar => 2 }, class: "btn btn-default" %>
      <%= link_to "Rechazar", {controller: "inicioentidad", action: "cambiar_estatusA", :adecuacion_id => @adecuacion.id, :rechazar => 1 }, class: "btn btn-default" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../inicioentidad/index">Inicio</a></li>
        <li><a href="../inicioentidad/listar_adecuaciones" class="active">Listar Adecuaciones</a></li>
        <li><a href="../inicioentidad/listar_informes">Listar Informes</a></li>
        <li><a href="../inicioentidad/prorroga">Prorroga</a></li>
        <li><a href="../inicioentidad/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
       <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
        <%if @bool_enviado == 0 && @cjpTipo=="Institucional"%>
          <%if session[:entidad_id]==13 %>
             <button type="button" data-toggle="modal" data-target="#myModal4" class="btn btn-default">Aprobar/Rechazar</button>
          <%else%>
            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Enviar</button>
          <%end%>
        <%end%>
      <%= link_to "Vista Previa", {controller: "inicioentidad", action: "vista_previa"}, class: "btn btn-default" %>
      <%= link_to "Generar PDF", {controller: "adecuacions", action: "generar_pdf"},target: :_blank, class: "btn btn-default" %>
      <%= link_to "Ver Soportes", {controller: "inicioentidad", action: "ver_soporte"}, class: "btn btn-default" %>
      <%= link_to "Versiones Anteriores", {controller: "inicioentidad", action: "ver_respaldos"}, class: "btn btn-default" %>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class="text-right">
      <div id = "fechamuestra">
        <h3> <%= Time.now.strftime("%d") %>
          <% if Time.now.strftime("%m").to_i == 1 %>
            de Enero del
          <% elsif Time.now.strftime("%m").to_i == 2 %>
            de Febrero del
          <% elsif Time.now.strftime("%m").to_i == 3 %>
            de Marzo del
          <% elsif Time.now.strftime("%m").to_i == 4 %>
            de Abril del
          <% elsif Time.now.strftime("%m").to_i == 5 %>
            de Mayo del
          <% elsif Time.now.strftime("%m").to_i == 6 %>
            de Junio del
          <% elsif Time.now.strftime("%m").to_i == 7 %>
            de Julio del
          <% elsif Time.now.strftime("%m").to_i == 8 %>
            de Agosto del
          <% elsif Time.now.strftime("%m").to_i == 9 %>
            de Septiembre del
          <% elsif Time.now.strftime("%m").to_i == 10 %>
            de Octubre del
          <% elsif Time.now.strftime("%m").to_i == 11 %>
            de Noviembre del
          <% elsif Time.now.strftime("%m").to_i == 12 %>
            de Diciembre del
          <% end %>
          <%= Time.now.strftime("%Y") %> 
        </h3>
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>

      <%if @cjpTipo=="Institucional"%>
        <p>Entidad</p>
      <%else%>
        <p>Vista</p>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify">
    <h1 class="text-left">Detalles de la Adecuación</h1>
  </div>
</div>
<br>
<div class = 'row'>
  <div class = 'col-xs-12 col-md-12 col-lg-12'>
      <ul class="tabs">
        <li><%= link_to '1° Semestre', :controller => 'inicioentidad', :action => 'detalles_adecuacion3' %></li>
        <li><%= link_to '2° Semestre', :controller => 'inicioentidad', :action => 'detalles_adecuacion4' %></li>
        <li class="activa"><a href="#">3° Semestre</a></li>
        <li><%= link_to '4° Semestre', :controller => 'inicioentidad', :action => 'detalles_adecuacion6' %></li>
        <li><%= link_to 'Obligatorias', :controller => 'inicioentidad', :action => 'detalles_adecuacion7' %></li>
      </ul>
  </div>
</div>


<div class= "row">
  <div class="col-xs-12 col-md-12 col-lg-12">
  <%= form_tag({controller: 'inicioentidad', action: 'guardar_observaciones2'}) do%>  
    <input id="cant_docencia" type="hidden" name="cant_docencia" value="<%=@actividadesadoc.size()%>"/> 
        <input id="cant_investigacion" type="hidden" name="cant_investigacion" value="<%=@actividadesainv.size()%>"/>
        <input id="cant_formacion" type="hidden" name="cant_formacion" value="<%=@actividadesafor.size()%>"/> 
        <input id="cant_extension" type="hidden" name="cant_extension" value="<%=@actividadesaext.size()%>"/> 
        <input id="cant_otra" type="hidden" name="cant_otra" value="<%=@actividadesaotr.size()%>"/> 
         <input id="cant_otra" type="hidden" name="semestre" value="<%=@semestre%>"/> 
              <input id="cant_otra" type="hidden" name="adecuacion_id" value="<%=@adecuacion.id%>"/> 

   
      <table class="table table-bordered table-striped">
        <tbody>
          <tr></tr>
          <tr>
            <td colspan="5" class="text-left"><h5><strong>4. Actividades a realizar por el instructor</strong></h5></td>

          </tr>
          <tr>
            <td class="text-center" colspan="3"><strong>Actividades de Docencia</strong></td>
            <td class="text-center" ><strong>Observaciones</strong></td>
            <td class="text-center"  style='width:10%;'><strong>Más observaciones</strong></td>
          </tr>
            <% @actividadesadoc.each_with_index do |actdoc, i| %>
              <tr>
                <td colspan="3">
                  <textarea class="form-control" rows="2"  name='<%= @docencia+actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
                  <input type="hidden" name="<%= @iddoc+i.to_s%> " value='<%= actdoc.id %>'>
                </td>
                <td >
                  <%if @bool_enviado==0 && @cjpTipo=="Institucional"%>
                    <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' ><%=@observaciont[@j] %></textarea>
                  <%else%>
                    <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' disabled><%=@observaciont[@j] %></textarea>
                  <%end%>
                </td>
                <td >
                  <%= link_to "Más obs. ", {:controller => "inicioentidad", :action => "mas_observaciones3", :actividad_id => actdoc.id, :semestre => @semestre, :adecuacion_id => @adecuacion.id }, class: "pad add btn btn-default" %>
                </td>
                <input type="hidden" name="doc<%=i.to_s%>" value='<%= actdoc.id %>'>
              </tr>
                <% @j= @j +1 %>
            <% end %>

          <tr>
            <td class="text-center"  colspan="3"><strong>Actividades de Investigación</strong></td>
            <td class="text-center" ><strong>Observaciones</strong></td>
            <td class="text-center" style='width:10%;'><strong>Mas observaciones</strong></td>
          </tr>
          <% @actividadesainv.each_with_index do |actdoc,i| %>
            <tr>
              <td colspan="3">
                <textarea class="form-control" rows="2"  name='<%= @investigacion+actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
              </td>
              <td >
                  <%if @bool_enviado==0 && @cjpTipo=="Institucional"%>
                    <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' ><%=@observaciont[@j] %></textarea>
                  <%else%>
                    <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' disabled><%=@observaciont[@j] %></textarea>
                  <%end%>
              </td>
              <td >
                  <% if @observacionesExtras[@j] == "si" %>                  
                    <%= link_to "Más obs. ", {:controller => "inicioentidad", :action => "mas_observaciones3", :actividad_id => actdoc.id, :semestre => @semestre, :adecuacion_id => @adecuacion.id }, class: "pad add btn btn-warning" %>
                  <% else %>
                    <%= link_to "Más obs. ", {:controller => "inicioentidad", :action => "mas_observaciones3", :actividad_id => actdoc.id, :semestre => @semestre, :adecuacion_id => @adecuacion.id }, class: "pad add btn btn-default" %>
                  <% end %>
              </td>
                <input type="hidden" name="inv<%=i.to_s%>" value='<%= actdoc.id %>'>
            </tr>
                <% @j= @j +1 %>
          <% end %>
          
          <tr>
            <td class="text-center"  colspan="3"><strong>Actividades de Formación</strong></td>
            <td class="text-center" ><strong>Observaciones</strong></td>
            <td class="text-center" style='width:10%;' ><strong>Mas observaciones</strong></td>
          </tr>
          <% @actividadesafor.each_with_index do |actdoc,i| %>
            <tr>
              <td colspan="3">
                <textarea class="form-control" rows="2"  name='<%= @formacion+actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
              </td>
              <td>
                  <%if @bool_enviado==0 && @cjpTipo=="Institucional"%>
                    <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' ><%=@observaciont[@j] %></textarea>
                  <%else%>
                    <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' disabled><%=@observaciont[@j] %></textarea>
                  <%end%>
                </td>
                <td >
                  <% if @observacionesExtras[@j] == "si" %>                  
                    <%= link_to "Más obs. ", {:controller => "inicioentidad", :action => "mas_observaciones3", :actividad_id => actdoc.id, :semestre => @semestre, :adecuacion_id => @adecuacion.id }, class: "pad add btn btn-warning" %>
                  <% else %>
                    <%= link_to "Más obs. ", {:controller => "inicioentidad", :action => "mas_observaciones3", :actividad_id => actdoc.id, :semestre => @semestre, :adecuacion_id => @adecuacion.id }, class: "pad add btn btn-default" %>
                  <% end %>
                </td>
                 <input type="hidden" name="for<%=i.to_s%>" value='<%= actdoc.id %>'>
            </tr>
                <% @j= @j +1 %>
          <% end %>

          <tr>
            <td class="text-center" colspan="3"><strong>Actividades de Extensión</strong></td>
            <td class="text-center" ><strong>Observaciones</strong></td>
            <td class="text-center" ><strong>Mas observaciones</strong></td>
          </tr>
          <% @actividadesaext.each_with_index do |actdoc,i| %>
            <tr>
              <td colspan="3">
                <textarea class="form-control" rows="2"  name='<%= @extension+actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
              </td>
              <td >
                  <%if @bool_enviado==0 && @cjpTipo=="Institucional"%>
                    <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' ><%=@observaciont[@j] %></textarea>
                  <%else%>
                    <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' disabled><%=@observaciont[@j] %></textarea>
                  <%end%>
                </td>
                <td >
                  <% if @observacionesExtras[@j] == "si" %>                  
                    <%= link_to "Más obs. ", {:controller => "inicioentidad", :action => "mas_observaciones3", :actividad_id => actdoc.id, :semestre => @semestre, :adecuacion_id => @adecuacion.id }, class: "pad add btn btn-warning" %>
                  <% else %>
                    <%= link_to "Más obs. ", {:controller => "inicioentidad", :action => "mas_observaciones3", :actividad_id => actdoc.id, :semestre => @semestre, :adecuacion_id => @adecuacion.id }, class: "pad add btn btn-default" %>
                  <% end %>
                </td>
               <input type="hidden" name="ext<%=i.to_s%>" value='<%= actdoc.id %>'>
            </tr>
                <% @j= @j +1 %>
          <% end %>

          <tr>
            <td class="text-center" colspan="3" ><strong>Otras Actividades</strong></td>
            <td class="text-center"   ><strong>Observaciones</strong></td>
            <td class="text-center"  style='width:10%;'><strong>Mas observaciones</strong></td>
          </tr>
          <% @actividadesaotr.each_with_index do |actdoc,i| %>
            <tr>
              <td colspan="3">
                <textarea class="form-control" rows="2"  name='<%= @otra+actdoc.id.to_s %>' id ='<%= actdoc.id %>' disabled><%= actdoc.actividad %></textarea>
              </td>
              <td >
                  <%if @bool_enviado==0 && @cjpTipo=="Institucional"%>
                    <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' ><%=@observaciont[@j] %></textarea>
                  <%else%>
                    <textarea class="form-control" rows="3" name='observacion<%= actdoc.id.to_s%>' disabled><%=@observaciont[@j] %></textarea>
                  <%end%>
                </td>
                <td >
                  <% if @observacionesExtras[@j] == "si" %>                  
                    <%= link_to "Más obs. ", {:controller => "inicioentidad", :action => "mas_observaciones3", :actividad_id => actdoc.id, :semestre => @semestre, :adecuacion_id => @adecuacion.id }, class: "pad add btn btn-warning" %>
                  <% else %>
                    <%= link_to "Más obs. ", {:controller => "inicioentidad", :action => "mas_observaciones3", :actividad_id => actdoc.id, :semestre => @semestre, :adecuacion_id => @adecuacion.id }, class: "pad add btn btn-default" %>
                  <% end %>
                </td>
                 <input type="hidden" name="otr<%=i.to_s%>" value='<%= actdoc.id %>'>
            </tr>
                <% @j= @j +1 %>
          <% end %>

        </tbody>
      </table>
 

    <div class = 'row'>
      <div class = 'col-xs-4 col-md-4 col-lg-4'>
          <%= link_to "<< Volver", {controller: "inicioentidad", action: "detalles_adecuacion4"}, class: "btn btn-forminst" %>
      </div>
      <div class = 'col-xs-4 col-md-4 col-lg-4'>
       <%if @bool_enviado == 0 && @cjpTipo=="Institucional"%>
         <center><button type="submit" class="btn btn-forminst btn-lg">Guardar cambios</button></center>
      <%else%>
       
      <%end%>     

      </div>
      <div class = 'col-xs-4 col-md-4 col-lg-4 text-right'>
         <%= link_to "Siguiente >>", {controller: "inicioentidad", action: "detalles_adecuacion6"}, class: "btn btn-forminst" %>
      </div>
    </div>


  <%end%>
  </div>
</div>


