<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../inicioentidad/index">Inicio</a></li>
        <li><a href="../inicioentidad/listar_adecuaciones">Listar Adecuaciones</a></li>
        <li><a href="../inicioentidad/listar_informes" class="active">Listar Informes</a></li>
        <li><a href="../inicioentidad/prorroga">Prorroga</a></li>
        <%if session[:entidad_id]==13 %>
          <li><a href="../inicioentidad/reactivacion">Reactivación</a></li>
        <%end%>
        <li><a href="../inicioentidad/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <%if flash[:mensaje]%>
      <div class="panel panel-warning">
        <div class="panel-body">
          <h5><b><%=flash[:mensaje]%></b></h5>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="text-right">
      <div id = "fechamuestra">
        <h3> <%= Time.now.strftime("%d") %>
          <% if Time.now.strftime("%m").to_i == 1 %>
            de enero del
          <% elsif Time.now.strftime("%m").to_i == 2 %>
            de febrero del
          <% elsif Time.now.strftime("%m").to_i == 3 %>
            de marzo del
          <% elsif Time.now.strftime("%m").to_i == 4 %>
            de abril del
          <% elsif Time.now.strftime("%m").to_i == 5 %>
            de mayo del
          <% elsif Time.now.strftime("%m").to_i == 6 %>
            de junio del
          <% elsif Time.now.strftime("%m").to_i == 7 %>
            de julio del
          <% elsif Time.now.strftime("%m").to_i == 8 %>
            de agosto del
          <% elsif Time.now.strftime("%m").to_i == 9 %>
            de septiembre del
          <% elsif Time.now.strftime("%m").to_i == 10 %>
            de octubre del
          <% elsif Time.now.strftime("%m").to_i == 11 %>
            de noviembre del
          <% elsif Time.now.strftime("%m").to_i == 12 %>
            de diciembre del
          <% end %>
          <%= Time.now.strftime("%Y") %> 
        </h3>
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>

      <%if @cjpTipo=="Institucional"%>
        <p>Entidad</p>
      <%else%>
        <p>Vista</p>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-5 col-md-12 text-justify">
    <h1 class="text-left">Lista de Informes</h1>
  </div>
</div>
<% if @informe %>
<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <p class="text-justify">Haga click en "Ver detalles" sobre el Informe correspondiente en caso de que se desee visualizar los detalles del misma</p>
    <div class="table-responsive">
      <table class="table table-hover table-bordered text-center">
        <thead>
          <tr>
            <th class="text-center">Tipo de Informe</th>
            <th class="text-center">Número de Informe</th>
            <th class="text-center">Fecha de Creación</th>
            <th class="text-center">Instructor de Formación</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Ultima Modificación</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @informes.each_with_index do |informe, i| %>
            <tr>
              <td class = "text-center"><%=@tipos[i]%></td>
              <td class = "text-center"><%= informe.numero %></td>
              <td class = "text-center"><%= informe.fecha_creacion %></td>
              <td class = "text-center"><%= @nombre_instructor[i] %></td>
               <td class="text-center"><%= @status[i]%></td>
              <td class = "text-center"><%= informe.fecha_modificacion %></td>
              <td class = "text-center">
              <%= form_tag({controller: 'inicioentidad', action: 'ver_detalles_informe'}) do%>
                <input type="hidden" name="informe_id" value='<%= informe.id %>'>
                <button type="submit" class="btn btn-forminst-blue">Ver Detalles</button>
              <%end%>
            </td>
            </tr>
          <% end %>
            
        </tbody>
      </table>
    </div>
  </div>
</div>
<% else %>
  <div class = 'row'>
    <div class="col-xs-5 col-md-12">
      <h3 class = 'text-center'>No hay Informes</h3>
    </div>
  </div>
  <br>
<% end %>
<div class = 'row'>
  <div class = 'col-xs-12 col-md-12'>
    <center>
      <button type="button" class="btn btn-forminst" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
    </center>
  </div>
</div>
</br>
</br>