

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body">
        <h5>Está seguro que desea enviar la adecuación?.</h5>
      </div>
      <div class="modal-footer">
        <%= link_to "Aceptar", {controller: "inicioentidad", action: "cambiar_estatusA", :adecuacion_id => @adecuacion.id }, class: "btn btn-default" %>
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    
  </div>
</div>



<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de notificación</h4>
      </div>
      <div class="modal-body">
        <h5>El adecuacion ya fue enviada.</h5>
      </div>
      <div class="modal-footer">
    
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal4" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mensaje de confirmación</h4>
      </div>
      <div class="modal-body text-center">
        <h5 center>Seleccione la acción que desea realizar sobre la adecuación</h5>
        <h9> (Si decide "Aprobado con Observaciones" la adecuación debe ser corregida por el tutor encargado)</h9>
      </div>
      <div class="modal-footer">
        <center>
          <%= link_to "Avalar", {controller: "inicioentidad", action: "cambiar_estatusA", :adecuacion_id => @adecuacion.id, :rechazar => 0 }, class: "btn btn-default" %>
          <%= link_to "Avalar con Observaciones", {controller: "inicioentidad", action: "cambiar_estatusA", :adecuacion_id => @adecuacion.id, :rechazar => 2 }, class: "btn btn-default" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </center>
      </div>
    </div>
    
  </div>
</div>


<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../inicioentidad/index">Inicio</a></li>
        <li><a href="../inicioentidad/listar_adecuaciones" class="active">Listar Adecuaciones</a></li>
        <li><a href="../inicioentidad/listar_informes">Listar Informes</a></li>
        <li><a href="../inicioentidad/prorroga">Prorroga</a></li>
        <%if session[:entidad_id]==13 %>
          <li><a href="../inicioentidad/reactivacion">Reactivación</a></li>
        <%end%>
        <li><a href="../inicioentidad/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="btn-group" role="group">
       <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
        <%if @bool_enviado == 0  && @cjpTipo=="Institucional"%>
          <%if session[:entidad_id]==13 %>
            <button type="button" data-toggle="modal" data-target="#myModal4" class="btn btn-default">Avalar</button>
          <%else%>
            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Enviar</button>
          <%end%>
        <%end%>
      <%= link_to "Vista Previa", {controller: "inicioentidad", action: "vista_previa"}, class: "btn btn-default" %>
      <%= link_to "Generar PDF", {controller: "adecuacions", action: "generar_pdf"},target: :_blank, class: "btn btn-default" %>
      <%= link_to "Versiones Anteriores", {controller: "inicioentidad", action: "ver_respaldos"}, class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-12 col-md-12">
    <%if flash[:mensaje]%>
      <div class="panel panel-warning">
        <div class="panel-body">
          <h5><b><%=flash[:mensaje]%></b></h5>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-0">
    <div class="text-right">
      <div id = "fechamuestra">
        <h3> <%= Time.now.strftime("%d") %>
          <% if Time.now.strftime("%m").to_i == 1 %>
            de Enero del
          <% elsif Time.now.strftime("%m").to_i == 2 %>
            de Febrero del
          <% elsif Time.now.strftime("%m").to_i == 3 %>
            de Marzo del
          <% elsif Time.now.strftime("%m").to_i == 4 %>
            de Abril del
          <% elsif Time.now.strftime("%m").to_i == 5 %>
            de Mayo del
          <% elsif Time.now.strftime("%m").to_i == 6 %>
            de Junio del
          <% elsif Time.now.strftime("%m").to_i == 7 %>
            de Julio del
          <% elsif Time.now.strftime("%m").to_i == 8 %>
            de Agosto del
          <% elsif Time.now.strftime("%m").to_i == 9 %>
            de Septiembre del
          <% elsif Time.now.strftime("%m").to_i == 10 %>
            de Octubre del
          <% elsif Time.now.strftime("%m").to_i == 11 %>
            de Noviembre del
          <% elsif Time.now.strftime("%m").to_i == 12 %>
            de Diciembre del
          <% end %>
          <%= Time.now.strftime("%Y") %> 
        </h3>
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
      
      <%if @cjpTipo=="Institucional"%>
        <p>Entidad</p>
      <%else%>
        <p>Vista</p>
      <%end%>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify">
    <h1 class="text-left">Detalles de la Adecuación</h1>
  </div>
</div>
<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
    <h5><strong>ADECUACIÓN DEL PLAN DE FORMACIÓN Y CAPACITACIÓN DE DOCENTES EN LA CATEGORÍA DE INSTRUCTOR</strong></h5>
  </div>
</div>
<br/>

<div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>1. Datos del Instructor en Formación</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Fecha del Concurso de Oposición:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Nombre:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @plan.fecha_inicio %></td>
              <td class="text-left"><%= @persona.nombres.to_s.split.map(&:capitalize).join(' ') %></td>
            </tr>


            <tr>
              <td style='width:50%;' class="text-left"><strong>Apellido:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Cédula de Identidad:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @persona.apellidos.to_s.split.map(&:capitalize).join(' ') %></td>
              <td class="text-left"><%= @persona.ci %></td>
            </tr>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Correo Electrónico:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Teléfono Celular:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @usuario.user %>@ciens.ucv.ve</td>
              <td class="text-left"><%= @persona.telefono1 %></td>
            </tr>
            </tr>
            <tr>
              <td class="text-left"><strong>Otro Teléfono:</strong></td>
            </tr>
            <tr> 
              <td class="text-left"><%= @persona.telefono2 %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>2. Perfil del Instructor en Formación:</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Grado de Instrucción:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Área:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @persona.grado_instruccion %></td>
              <td class="text-left"><%= @persona.area %></td>
            </tr>
            <tr>
              <td style='width:50%;' class="text-left"><strong>Subárea:</strong></td>
            </tr>
            <tr> 
              <td class="text-left"><%= @persona.subarea %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>3. Datos de la dependencia</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Unidad de Adscripción de Investigación:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Unidad de Adscripción de Docencia:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @plan.adscripcion_investigacion %></td>
              <td class="text-left"><%= @plan.adscripcion_docencia %></td>
            </tr>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Fecha de realización del documento:</strong></td>
              <td style='width:50%;' class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><%= @adecuacion.fecha_creacion %></td>
              <td class="text-left"></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td class="text-left"></td>
            </tr>

            <tr>
              <td class="text-left"><h5><strong>4. Datos del Tutor Encargado</strong></h5></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class= "row">
    <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tbody>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Nombre:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Apellido:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @cpTutor.nombres %></td>
              <td class="text-left"><%= @cpTutor.apellidos %></td>
            </tr>


            <tr>
              <td style='width:50%;' class="text-left"><strong>Dirección:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Correo Electrónico:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @cpTutor.direccion %></td>
              <td class="text-left"><%= @cpTutorEmail %>@ciens.ucv.ve</td>
            </tr>

            <tr>
              <td style='width:50%;' class="text-left"><strong>Teléfono Celular:</strong></td>
              <td style='width:50%;' class="text-left"><strong>Otro Celular:</strong></td>
            </tr>

            <tr>
              <td class="text-left"><%= @cpTutor.telefono1 %></td>
              <td class="text-left"><%= @persona.telefono2 %></td>
            </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <% if !@tutorAnteriores.blank? %>

    <div class= "row">
      <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
          <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td class="text-left"></td>
              </tr>

              <tr>
                <td class="text-left"><h5><strong>5. Tutores Anteriores</strong></h5></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

      <div class= "row">
        <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <td class="text-left"> Nombre </td>
                  <td class="text-left"> Fecha Inicio </td>
                  <td class="text-left"> Fecha Fin </td>
                </tr>
                <% @tutorAnteriores.each do |asig| %>
                <tr>
                  <td class="text-left"> <%= Persona.where(usuario_id: asig.tutor_id).take.nombres + " " + Persona.where(usuario_id: asig.tutor_id).take.apellidos %> </td>
                  <td class="text-left"> <%= asig.fecha_inicio.to_s[8..9] + "-" + asig.fecha_inicio.to_s[5..6] + "-" + asig.fecha_inicio.to_s[0..3]%> </td>
                  <td class="text-left">
                    <% if !asig.fecha_fin.blank? %>
                      <%= asig.fecha_fin.to_s[8..9] + "-" + asig.fecha_fin.to_s[5..6] + "-" + asig.fecha_fin.to_s[0..3]%>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

  <% end %>

<div class = 'row'>
  <div class = 'col-xs-3 col-md-3 col-lg-3'>
      <%= link_to "<< Volver", {controller: "inicioentidad", action: "listar_adecuaciones"}, class: "btn btn-forminst" %>
  </div>
  <div class = 'col-xs-9 col-md-9 col-lg-9 text-right'>
     <%= link_to "Siguiente >>", {controller: "inicioentidad", action: "detalles_adecuacion2"}, class: "btn btn-forminst" %>
  </div>
</div>
