<%= form_for(@revision) do |f| %>
  <% if @revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@revision.errors.count, "error") %> prohibited this revision from being saved:</h2>

      <ul>
      <% @revision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :informeId %><br>
    <%= f.number_field :informeId %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :usuarioId %><br>
    <%= f.number_field :usuarioId %>
  </div>
  <div class="field">
    <%= f.label :adecuacionId %><br>
    <%= f.number_field :adecuacionId %>
  </div>
  <div class="field">
    <%= f.label :estatusId %><br>
    <%= f.number_field :estatusId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
