<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @prorroga.id %>
</p>

<p>
  <strong>Planformacionid:</strong>
  <%= @prorroga.planFormacionId %>
</p>

<%= link_to 'Edit', edit_prorroga_path(@prorroga) %> |
<%= link_to 'Back', prorrogas_path %>
