<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :usuarioId %><br>
    <%= f.number_field :usuarioId %>
  </div>
  <div class="field">
    <%= f.label :nombres %><br>
    <%= f.text_field :nombres %>
  </div>
  <div class="field">
    <%= f.label :apellidos %><br>
    <%= f.text_field :apellidos %>
  </div>
  <div class="field">
    <%= f.label :fechaNac %><br>
    <%= f.date_select :fechaNac %>
  </div>
  <div class="field">
    <%= f.label :ci %><br>
    <%= f.text_field :ci %>
  </div>
  <div class="field">
    <%= f.label :telefono1 %><br>
    <%= f.text_field :telefono1 %>
  </div>
  <div class="field">
    <%= f.label :telefono2 %><br>
    <%= f.text_field :telefono2 %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
