<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @persona.id %>
</p>

<p>
  <strong>Usuarioid:</strong>
  <%= @persona.usuarioId %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @persona.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @persona.apellidos %>
</p>

<p>
  <strong>Fechanac:</strong>
  <%= @persona.fechaNac %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @persona.ci %>
</p>

<p>
  <strong>Telefono1:</strong>
  <%= @persona.telefono1 %>
</p>

<p>
  <strong>Telefono2:</strong>
  <%= @persona.telefono2 %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
