<p id="notice"><%= notice %></p>

<h1>Listing Permisologia</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Permisosid</th>
      <th>Usuarioid</th>
      <th>Attribute</th>
      <th>Read</th>
      <th>Write</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permisologia.each do |permisologium| %>
      <tr>
        <td><%= permisologium.id %></td>
        <td><%= permisologium.permisosId %></td>
        <td><%= permisologium.usuarioId %></td>
        <td><%= permisologium.attribute %></td>
        <td><%= permisologium.read %></td>
        <td><%= permisologium.write %></td>
        <td><%= link_to 'Show', permisologium %></td>
        <td><%= link_to 'Edit', edit_permisologium_path(permisologium) %></td>
        <td><%= link_to 'Destroy', permisologium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permisologium', new_permisologium_path %>
